<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{courseowner-layout}">
<th:block layout:fragment="content">
  <th:block layout:insert="~{fragments/courseowner/header}"/>
  <th:block layout:insert="~{fragments/courseowner/sidebar}"/>
  <th:block>
    <main class="ttr-wrapper">
      <div class="container-fluid">
        <div class="db-breadcrumb">
          <h4 class="breadcrumb-title">Create Answer</h4>
          <ul class="db-breadcrumb-list">
            <li><a href="/home"><i class="fa fa-home"></i>Home</a></li>
            <li>Create Answer</li>
          </ul>
        </div>
        <div class="row">
          <!-- Your Profile Views Chart -->
          <div class="col-lg-12 m-b30">
            <div class="widget-box">
              <div class="wc-title" style="display: flex;align-items: center;justify-content: space-between;">
                                 <span>
                                <a style=" color:green;font-weight: 600;" th:href="@{/editquestions(id=${quizID})}"><i class="fa-solid fa-arrow-left" style="color: #54aa3c;"></i>Back to question</a>
                                </span>
                <h4>Create Answer</h4>
              </div>
              <a href="#" data-toggle="modal" data-target="#AddAnswer" style="border-bottom :1px solid green; margin:10px; color:green;font-weight: 600; border-radius:10px;" title="Add quiz"><i class="fa-solid fa-plus"></i>Add Answer</a>
              <div class="widget-inner">
                <table style="text-align:center">
                  <thead>
                  <tr>
                    <td>No</td>
                    <td>Answer</td>
                    <td>Righ Answer</td>
                    <td colspan="2">Action</td>
                  </tr>
                  </thead>
                  <tbody>

                  <th:block th:each="item, iterStat:${list} ">

                    <tr>
                      <td th:text="${iterStat.index + 1}"></td>
                      <td th:text="${item.getContent()}"></td>
                      <td>
                        <input type="radio" name="rightAnswer" onchange="submitForm()" th:checked="${item.getCorrect()}" th:value="${item.getAnswerId()}">
                      </td>
                      <td><a href="#" data-toggle="modal" title="Edit"
                             th:attr="data-target=${'#editanswer' + item.getAnswerId()}"><i class="fa-solid fa-pen-to-square" style="color: #54aa3c;"></i></a>
                      </td>
                      <td><a href="#" data-toggle="modal" title="Delete"
                             th:attr="data-target=${'#deleteAnswer' + item.getAnswerId()}"><i class="fa-solid fa-trash-can" style="color: #54aa3c;"></i></a>
                      </td>
                    </tr>

                    <div class="modal fade" th:attr="id=${'deleteAnswer' + item.getAnswerId()}"
                         tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete Answer </h5>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            Delete answer with question
                            "<th:block th:text="${item.getQuestion().getQuestioncontent()}"></th:block>"
                            ?
                          </div>
                          <div class="modal-footer">
                            <form th:action="@{/course/deleteAnswer}">
                              <input type="hidden" name="idAnswer"
                                     th:value="${item.getAnswerId()}">
                              <button type="button" class="btn btn-secondary"
                                      data-dismiss="modal">Close
                              </button>
                              <button type="submit" class="btn btn-primary">Delete
                              </button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal fade" th:attr="id=${'editanswer' + item.getAnswerId()}"
                         tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit
                              Answer</h5>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form th:action="@{/course/editAnswer}" method="post" enctype="multipart/form-data">
                              <input type="hidden" name="idAnswer" th:value="${item.getAnswerId()}">
                              <div class="form-group">b
                                <label class="col-form-label">
                                  Answer Title</label>
                                <input type="text" class="form-control" name="title" th:value="${item.getContent()}" required>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Close
                                </button>
                                <button type="submit" class="btn btn-primary">Save changes
                                </button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </th:block>
                  </tbody>
                </table>
                <!-- Add quiz -->
                <div class="modal fade" id="AddAnswer"
                     tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" >Add Answer</h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form th:action="@{/course/addAnswer}" method="post" enctype="multipart/form-data">
                          <input type="hidden" name="idQuestion"  th:value="${question.getQuestionid()}">
                          <div class="form-group">
                            <label class="col-form-label">
                              Answer Content</label>
                            <input type="text" class="form-control" name="title" required>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal">Close
                            </button>
                            <button type="submit" class="btn btn-primary">Add
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
          <!-- Your Profile Views Chart END-->
        </div>
      </div>
      <meta th:name="_csrf" th:content="${_csrf.token}"/>
      <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
      <script defer>
        function submitForm() {
          let token = $("meta[name='_csrf']").attr("content");
          let header = $("meta[name='_csrf_header']").attr("content");
          var selectedOption = document.querySelector('input[name="rightAnswer"]:checked').value;
          console.log(selectedOption)
          fetch('/course/submitAnswer', {
            credentials: 'same-origin',
            method: 'POST',
            headers: {
              [header]: token,
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ selectedOption: selectedOption })
          })
                  .then(response => response.text())
                  .then(data => {
                    // Xử lý phản hồi từ server (nếu cần)
                    console.log(data);
                  })
                  .catch(error => {
                    // Xử lý lỗi (nếu có)
                    console.error(error);
                  });
        }
      </script>

    </main>
    <div class="ttr-overlay"></div>
  </th:block>
</th:block>
</html>