<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin-layout}">

<th:block layout:fragment="content">
    <th:block layout:insert="~{fragments/admin/header}"/>
    <th:block layout:insert="~{fragments/admin/sidebar}"/>
    <th:block>
        <!-- Content -->
        <div class="page-content bg-white">
            <!-- inner page banner -->
            <div class="page-banner ovbl-dark" style="background-image:url(/assets/images/banner/banner1.jpg);">
                <div class="container">
                    <div class="page-banner-entry">
                        <h1 class="text-white">My Course</h1>
                    </div>
                </div>
            </div>
            <!-- Breadcrumb row -->
            <div class="breadcrumb-row">
                <div class="container">
                    <ul class="list-inline">
                        <li><a href="/home">Home</a></li>
                        <li>My Course</li>
                    </ul>
                </div>
            </div>
            <!-- Breadcrumb row END -->
            <!-- inner page banner END -->
            <div class="content-block">
                <!-- About Us -->
                <div class="section-area section-sp1">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-12 m-b30">
                                <div class="profile-bx text-center">
                                    <div class="profile-tabnav">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="my-registration-tab" data-toggle="tab" href="#my-registration"><i class="ti-bookmark-alt"></i>Comment management</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="comment-management-tab" data-toggle="tab" href="#comment-management"><i class="ti-bookmark-alt"></i>Suspicious comments</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-8 col-sm-12 m-b30">
                                <div class="profile-content-bx">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="my-registration">
                                            <div class="profile-head">
                                                <h3>Comment management</h3>
                                            </div>
                                            <div>
                                                <label for="courseSelect">Select course:</label>
                                                <select id="courseSelect" onchange="handleChange()">
                                                    <option value="0">-- Chọn khóa học --</option>
                                                    <!-- Dùng Thymeleaf để lặp qua danh sách các khóa học từ controller -->
                                                    <th:block th:each="course :${courseList}">
                                                        <option th:value="${course.courseid}" th:text="${course.coursename}"></option>
                                                    </th:block>
                                                </select>
                                            </div>
                                            <div class="courses-filter">
                                                <div class="row">
                                                    <div class="col-md-6 col-lg-20">
                                                        <ul class="course-features" style="width: 800px">
                                                            <li>
                                                                <span class="label">Username</span>
                                                                <span class="label">Name</span>
                                                                <span class="label">Comment date</span>
                                                                <span class="label">Content</span>
                                                            </li>
                                                            <th:block th:each="comment : ${commentList}">
                                                                <li>
                                                                    <span class="label" th:text="${comment.user.username}"></span>
                                                                    <span class="label" th:text="${comment.user.fullname}"></span>
                                                                    <span class="label" th:text="${comment.postdate}"></span>
                                                                    <span class="label" th:text="${comment.content}"></span>
                                                                    <span>
                                                                        <th:block th:if="${comment.isStatus() == false}">
                                                                            <a th:href="@{'/admin/comment-management/hide-comment?commentId='+${comment.commentid}+'&courseId='+${courseId}+'&page='+${currentPage}}" style='color: red'>Hide</a>
                                                                        </th:block>
                                                                        <th:block th:if="${comment.isStatus() == true}">
                                                                            <a th:href="@{'/admin/comment-management/unhide-comment?commentId='+${comment.commentid}+'&courseId='+${courseId}+'&page='+${currentPage}}" style='color: red'>Unhide</a>
                                                                        </th:block>
                                                                    </span>
                                                                </li>
                                                            </th:block>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="pagination" class="text-center">
                                                <ul class="pagination">
                                                    <li th:if="${currentPage > 1}">
                                                        <a th:href="@{'/admin/comment-management?courseId=' + ${courseId} + '&page=' + ${currentPage - 1} }">Previous</a>
                                                    </li>
                                                    <th:block th:if="${pageNum <= 1}">
                                                        <li>
                                                            <a th:href="@{'/admin/comment-management?courseId=' + ${courseId} + '&page=1'}" th:text="1" th:classappend="${currentPage == 1} ? 'active' : ''"></a>
                                                        </li>
                                                    </th:block>
                                                    <th:block th:if="${pageNum > 1}">
                                                        <li th:each="pageNumber : ${#numbers.sequence(1, pageNum)}">
                                                            <a th:href="@{'/admin/comment-management?courseId=' + ${courseId} + '&page=' + ${pageNumber} }" th:text="${pageNumber}" th:classappend="${pageNumber == currentPage} ? 'active' : ''"></a>
                                                        </li>
                                                    </th:block>
                                                    <li th:if="${currentPage < pageNum}">
                                                        <a th:href="@{'/admin/comment-management?courseId=' + ${courseId} + '&page=' + ${currentPage + 1} }">Next</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="comment-management">
                                            <div class="profile-head">
                                                <h3>List suspected of violation comment</h3>
                                            </div>
                                            <div>
                                                <a href="/admin/comment-management">All course</a>
                                            </div>
                                            <div class="courses-filter">
                                                <div class="row">
                                                    <div class="col-md-6 col-lg-20">
                                                        <ul class="course-features" style="width: 800px">
                                                            <li>
                                                                <span class="label">Username</span>
                                                                <span class="label">Name</span>
                                                                <span class="label">Comment date</span>
                                                                <span class="label">Content</span>
                                                            </li>
                                                            <th:block th:each="comment : ${duplicate}">
                                                                <li>
                                                                    <span class="label" th:text="${comment.user.username}"></span>
                                                                    <span class="label" th:text="${comment.user.fullname}"></span>
                                                                    <span class="label" th:text="${comment.postdate}"></span>
                                                                    <span class="label" th:text="${comment.content}"></span>
                                                                    <span>
                                                                        <th:block th:if="${comment.isStatus() == false}">
                                                                            <a th:href="@{'/admin/comment-management/hide-comment?commentId='+${comment.commentid}+'&courseId='+${comment.getCourse().getCourseid()}+'&page='+${currentPage}}" style='color: red'>Hide</a>
                                                                        </th:block>
                                                                        <th:block th:if="${comment.isStatus() == true}">
                                                                            <a th:href="@{'/admin/comment-management/unhide-comment?commentId='+${comment.commentid}+'&courseId='+${comment.getCourse().getCourseid()}+'&page='+${currentPage}}" style='color: red'>Unhide</a>
                                                                        </th:block>
                                                                    </span>
                                                                </li>
                                                            </th:block>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="pagination2" class="text-center">
                                                <ul class="pagination">
                                                    <li th:if="${currentPage > 1}">
                                                        <a th:href="@{'/admin/comment-management?courseId=' + ${courseId} + '&page=' + ${currentPage - 1} }">Previous</a>
                                                    </li>
                                                    <th:block th:if="${pageNum <= 1}">
                                                        <li>
                                                            <a th:href="@{'/admin/comment-management?courseId=' + ${courseId} + '&page=1'}" th:text="1" th:classappend="${currentPage == 1} ? 'active' : ''"></a>
                                                        </li>
                                                    </th:block>
                                                    <th:block th:if="${pageNum > 1}">
                                                        <li th:each="pageNumber : ${#numbers.sequence(1, pageNum)}">
                                                            <a th:href="@{'/admin/comment-management?courseId=' + ${courseId} + '&page=' + ${pageNumber} }" th:text="${pageNumber}" th:classappend="${pageNumber == currentPage} ? 'active' : ''"></a>
                                                        </li>
                                                    </th:block>
                                                    <li th:if="${currentPage < pageNum}">
                                                        <a th:href="@{'/admin/comment-management?courseId=' + ${courseId} + '&page=' + ${currentPage + 1} }">Next</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- contact area END -->
        </div>
        <!-- Content END-->
    </th:block>
    <th:block layout:insert="~{fragments/admin/footer}"/>
    <script>
        function handleChange() {
            let selectedCourse = document.getElementById("courseSelect").value;
            let currentPageParam = new URLSearchParams(window.location.search).get("page");
            let pageParam = currentPageParam ? "&page=" + currentPageParam : ""; // Nếu có tham số page hiện tại, giữ nó, ngược lại thêm vào
            window.location.href = "/admin/comment-management?courseId=" + selectedCourse + pageParam;
        }
    </script>
</th:block>
</html>
