<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin-layout}">
<th:block layout:fragment="content">
	<th:block layout:insert="~{fragments/admin/header}"/>
	<th:block layout:insert="~{fragments/admin/sidebar}"/>
	<th:block>
		<main class="ttr-wrapper">
			<div class="container-fluid">
				<div class="db-breadcrumb">
					<h4 class="breadcrumb-title">Courses</h4>
					<ul class="db-breadcrumb-list">
						<li><a href="#"><i class="fa fa-home"></i>Home</a></li>
						<li>Courses</li>
					</ul>
				</div>
				<div>
					<form action="course-owners" method="get" class="row">
						<div class="col-lg-3">
							<select class="form-control" name="statusID">
								<option value="0">All</option>
								<option value="1">In Progress</option>
								<option value="2">Completed</option>
								<option value="3">Not Started</option>
							</select>
						</div>
						<div class="col-lg-3">
							<select class="form-control" name="orderBy">
								<option value="none">All</option>
								<option value="coursename desc">A -> Z</option>
								<option value="coursename asc">Z -> A</option>
							</select>
						</div>
						<div class="col-lg-3">
							<select class="form-control" name="review">
								<option value="0">All</option>
								<option value="1">1 rating</option>
								<option value="2">2 rating</option>
								<option value="3">3 rating</option>
								<option value="4">4 rating</option>
							</select>
						</div>
						<div class="col-lg-3">
							<select class="form-control" name="categoryID">
								<option value="0">All</option>
								<th:block th:each="item : ${listCate}">
									<option th:value="${item.categoryid}" th:text="${item.categoryname}"></option>
								</th:block>
							</select>
						</div>
						<input class="form-control col-lg-3" value="Search" type="submit">
					</form>
				</div>
				<div class="row">
					<!-- Your Profile Views Chart -->
					<div class="col-lg-12 m-b30">
						<div class="widget-box">
							<div class="wc-title">
								<h4>Your Courses</h4>
							</div>
							<div class="widget-inner">
								<th:block th:each="item : ${pagingCourses}">
									<div class="card-courses-list admin-courses">
										<div class="card-courses-media">
											<img th:src="@{item.image}" alt=""/>
										</div>
										<div class="card-courses-full-dec">
											<div class="card-courses-title">
												<h4 th:text="${item.getCoursename()}"></h4>
											</div>
											<div class="card-courses-list-bx">
												<ul class="card-courses-view">
													<li class="card-courses-user">
														<div class="card-courses-user-pic">
															<img th:src="${item.getImage()}" alt=""/>
														</div>
														<div class="card-courses-user-info">
															<h5>Teacher</h5>
															<h4 th:text="${item.getCourseowner().getUser().getFullname()}"></h4>
														</div>
													</li>
													<li class="card-courses-categories">
														<h4 th:text="${item.getCategory().getCategoryname()}"></h4>
													</li>
													<li class="card-courses-review">
														<h5><th:block th:text="${item.getCourserating()}"></th:block> Review</h5>
														<ul class="cours-star">
															<th:block th:each="item : ${#numbers.sequence(1,item.getCourserating())}">
																<li class="active"><i class="fa fa-star"></i></li>
															</th:block>
															<th:block th:if="${item.getCourserating() != 5}" th:each="i : ${#numbers.sequence(1,5 - item.getCourserating())}">
																<li><i class="fa fa-star"></i></li>
															</th:block>
														</ul>
													</li>
													<li class="card-courses-stats">
														<a href="#" class="btn button-sm green radius-xl">Pending</a>
													</li>
													<div class="card-courses-price">
														<del>$<th:block th:if="${item.getCurrentPrice() != null}" th:text="${item.getCourseprice()}"></th:block></del>
														<h5>$<th:block th:text="${item.getCurrentPrice() != null ? item.getCurrentPrice() : item.getCourseprice()}"></th:block></h5>
													</div>
												</ul>
											</div>
											<div class="row card-courses-dec">
												<div class="col-md-12">
													<h6 class="m-b10">Course Description</h6>
													<p th:text="${item.getDescription()}"></p>
												</div>
											</div>
											<a th:href="@{/editCourse(id=${item.courseid})}">Edit Course</a>
										</div>
									</div>
								</th:block>
								<nav aria-label="Page navigation example">
									<ul class="pagination justify-content-center pagination-sm">
										<li  th:if="${pagingCourses.totalPages > 0}" class="page-link"
											 th:each="pageNumber : ${pageNumbers}">
											<a th:href="@{/course-owners(size=${pagingCourses.size}, page=${pageNumber})}"
											   th:text=${pageNumber}
											   th:class="${pageNumber==pagingCourses.number + 1} ? active"
											   class="page-link"
											></a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
					<!-- Your Profile Views Chart END-->
				</div>
			</div>
		</main>
		<div class="ttr-overlay"></div>
	</th:block>
</th:block>
</html>
