<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin-layout}">
<th:block layout:fragment="content">
    <th:block layout:insert="~{fragments/admin/header}"/>
    <th:block layout:insert="~{fragments/courseowner/sidebar}"></th:block>
    <th:block>
        <main class="ttr-wrapper">
            <div class="container-fluid">
                <div class="db-breadcrumb">
                    <h4 class="breadcrumb-title">Edit Course</h4>
                    <ul class="db-breadcrumb-list">
                        <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                        <li>Add Course</li>
                    </ul>
                </div>
                <div class="row">
                    <!-- Your Profile Views Chart -->
                    <div class="col-lg-12 m-b30">
                        <div class="widget-box">
                            <div class="wc-title">
                                <h4>Edit Course</h4>
                            </div>
                            <div class="widget-inner">
                                <form class="edit-profile m-b30" th:action="@{/editCourse}" method="post"
                                      enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="ml-auto">
                                                <h3>1. Basic information</h3>
                                            </div>
                                        </div>
                                        <input type="hidden" name="cid" th:value="${course.courseid}">
                                        <div class="form-group col-6">
                                            <label class="col-form-label">Course Name</label>
                                            <div style="margin-left: 5px;">
                                                <input class="form-control" name="coursename" type="text"
                                                       th:value="${course.coursename}"
                                                       required/>
                                            </div>
                                        </div>
                                        <div class="form-group col-6">
                                            <label class="col-form-label">Course Price (*USD)</label>
                                            <div>
                                                <input class="form-control" type="text" th:value="${course.courseprice}"
                                                       pattern="[0-9]+([,\.][0-9]+)?" name="price"/>
                                            </div>
                                        </div>
                                        <div className="form-group col-6" style="margin-left: 20px;">
                                            <label className="col-form-label">Category</label>
                                            <div>
                                                <select name="category">
                                                    <th:block th:each="item : ${listCate}">
                                                        <option th:value="${item.categoryid}"
                                                                th:text="${item.categoryname}"
                                                                th:selected="${item.categoryid == course.category.categoryid}"></option>
                                                    </th:block>
                                                </select>
                                            </div>
                                        </div>

                                        <div className="form-group col-6" style="margin-left: 40px;">
                                            <label className="col-form-label">Language</label>
                                            <div>
                                                <select name="language">
                                                    <th:block th:each="item : ${listLang}">
                                                        <option th:value="${item.languageid}"
                                                            th:text="${item.languagen}"
                                                            th:selected="${item.languageid == languageID}"></option>
                                                    </th:block>
                                                </select>
                                            </div>
                                        </div>

                                        <div className="form-group col-6" style="margin-left: 40px;">
                                            <label className="col-form-label">Level</label>
                                            <div>
                                                <select name="level">
                                                    <th:block th:each="item : ${listLeve}">
                                                        <option th:value="${item.levelid}"
                                                            th:text="${item.levelname}"
                                                            th:selected="${item.levelid == levelID}"></option>
                                                    </th:block>
                                                </select>
                                            </div>
                                        </div>
                                        
                                        <div class="col-12 m-t20">
                                            <div class="ml-auto m-b5">
                                                <h3>2. Description</h3>
                                            </div>
                                        </div>
                                        <div class="form-group col-12">
                                            <label class="col-form-label">Course description</label>
                                            <div>
                                                <textarea name="description" class="form-control" id="mota"
                                                          th:utext="${course.description}" required>

                                                </textarea>
                                            </div>
                                        </div>

                                        <div style="display: flex;">
                                            <div class="form-group col-12">
                                                <label class="col-form-label">Prepare(*each line is one item)</label>
                                                <div>
                                                    <textarea name="preneeded" class="form-control" id="mota"
                                                        th:utext="${preneeded}" required>
                                                    
                                                    </textarea>
                                                </div>
                                            </div>

                                            <div class="form-group col-12">
                                                <label class="col-form-label">Learning Outcome(*each line is one item)</label>
                                                <div>
                                                    <textarea name="outcome" class="form-control" id="mota"
                                                        th:utext="${outcome}" required>
    
                                                    </textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 m-t20">
                                            <div class="ml-auto">
                                                <h3 class="m-form__section">3.Course Image</h3>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <table id="item-add" style="width:100%;">
                                                <tr class="list-item">
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <label class="col-form-label">Course Image</label>
                                                                <div>
                                                                    <img th:src="${course.getImage()}" id="editImage">
                                                                    <input class="form-control" name="image" type="file"
                                                                           onchange="preview()"/>
                                                                    <script type="text/javascript">
                                                                        function preview()
{
          const selectedFile = event.target.files[0];
          if (selectedFile) {
              selectedFile.preview = URL.createObjectURL(selectedFile); // Tạo đường dẫn tạm thời cho ảnh
              console.log(selectedFile);
              $('#editImage').attr('src', selectedFile.preview).load(function(){
                                $(this).width(); // this is how you get new width of image
                              });
          }
}

                                                                    </script>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div style="color : green; margin-left: 5px; font-weight:600;"
                                            th:if="${report != null}" th:text="${report}"></div>
                                        <div class="col-12">
                                            <button type="submit" class="btn-secondry add-item m-r5">
                                                Save Draft
                                            </button>
                                            <th:block th:if="${course!=null}">
                                                <a th:href="@{/submitcourse(id=${course.getCourseid()})}"
                                                    class="btn">Submit</a>
                                            </th:block>
                                            
                                            <a th:href="@{/edit-coursesection(cid=${course.getCourseid()})}" class="btn">Next</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Your Profile Views Chart END-->
                </div>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                Add Category
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{/add-Category}" method="post">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Category</label>
                                    <input type="text" class="form-control" name="category" id="recipient-name">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Add</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div class="ttr-overlay"></div>
    </th:block>
</th:block>
</html>
