<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin-layout}">
<th:block layout:fragment="content">
    <th:block layout:insert="~{fragments/admin/header}"/>
    <th:block layout:insert="~{fragments/courseowner/sidebar}"></th:block>
    <th:block>
        <main class="ttr-wrapper">
            <div class="container-fluid">
                <div class="db-breadcrumb">
                    <h4 class="breadcrumb-title">Edit Course Section</h4>
                    <ul class="db-breadcrumb-list">
                        <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                        <li>Edit Course</li>
                    </ul>
                </div>
                <div class="row">
                    <!-- Your Profile Views Chart -->
                    <div class="col-lg-12 m-b30">
                        <div class="widget-box">
                            <div class="wc-title">
                                <h4>Edit Course Section</h4>
                            </div>
                            <a href="#" data-toggle="modal" data-target="#AddCourseSection">Add Course Section</a>
                            <div class="widget-inner">
                                <table style="text-align:center">
                                    <thead>
                                    <tr>
                                        <td>ID</td>
                                        
                                        <td>Section Order</td>
                                        <td>Section Title</td>
                                        <td colspan="3">Action</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="item:${list}">
                                        <tr>
                                            <td th:text="${item.sectionId}"></td>
                                            
                                            <td th:text="${item.sectionorder}"></td>
                                            <td th:text="${item.sectiontitle}"></td>
                                            <td><a href="#" data-toggle="modal"
                                                   th:attr="data-target=${'#editsection' + item.sectionId}">Update</a>
                                            </td>
                                            <td>
                                                <a class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >View</a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a th:href="@{/course-content(sid=${item.sectionId}, cid=${cid})}" class="dropdown-item" href="#">View Course Content</a>
                                                    <a th:href="@{/course-quiz(sid=${item.sectionId}, cid=${cid})}" class="dropdown-item">View Course Quiz</a>
                                                </div>
                                            </td>
                                            <td><a href="#" data-toggle="modal"
                                                   th:attr="data-target=${'#deletesection' + item.sectionId}">Delete</a>
                                            </td>
                                        </tr>
                                        <div class="modal fade" th:attr="id=${'deletesection' + item.sectionId}"
                                             tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Delete Course
                                                            Section</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Delete course section with title
                                                        <th:block th:text="${item.sectiontitle}"></th:block>
                                                        ?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <form th:action="@{/deleteCourseSection}">
                                                            <input type="hidden" name="coursesectionid"
                                                                   th:value="${item.sectionId}">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                            <button type="submit" class="btn btn-primary">Save changes
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade" th:attr="id=${'editsection' + item.sectionId}"
                                             tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Edit Coure
                                                            Section</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form th:action="@{/editCourseSection}" method="post">
                                                            <input type="hidden" name="id" th:value="${item.sectionId}">
                                                            <div class="form-group">
                                                                <label for="recipient-name" class="col-form-label">Course
                                                                    Section Title</label>
                                                                <input type="text" class="form-control" name="title"
                                                                       th:value="${item.sectiontitle}" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="message-text" class="col-form-label">Course
                                                                    Section Order</label>
                                                                <input id="message-text" type="number"
                                                                       class="form-control" name="order"
                                                                       th:value="${item.sectionorder}" required>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Close
                                                                </button>
                                                                <button type="submit" class="btn btn-primary">Update
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </th:block>
                                    </tbody>
                                </table>
                                <div class="modal fade" id="AddCourseSection"
                                     tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Add Course Section</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form th:action="@{/addCourseSection}" method="post">
                                                    <input type="hidden" name="cid" th:value="${cid}">
                                                    <div class="form-group">
                                                        <label for="recipient-name" class="col-form-label">Course
                                                            Section Title</label>
                                                        <input type="text" class="form-control" name="title" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="message-text" class="col-form-label">Course
                                                            Section Order</label>
                                                        <input id="message-text" type="number"
                                                               class="form-control" name="order" required>
                                                    </div>
                                                    
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <button type="submit" class="btn btn-primary">Add
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a th:href="@{editCourse(id=${cid})}">Back</a>
                    </div>
                    <!-- Your Profile Views Chart END-->
                </div>
            </div>
        </main>
        <div class="ttr-overlay"></div>
    </th:block>
</th:block>
</html>
