<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin-layout}">
<th:block layout:fragment="content">
  <th:block layout:insert="~{fragments/admin/header}"/>
  <th:block layout:insert="~{fragments/courseowner/sidebar}"></th:block>
  <th:block>
    <main class="ttr-wrapper">
      <div class="container-fluid">
        <div class="db-breadcrumb">
          <h4 class="breadcrumb-title">Edit Quiz</h4>
          <ul class="db-breadcrumb-list">
            <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
            <li>Edit Quiz</li>
          </ul>
        </div>
        <div class="row">
          <!-- Your Profile Views Chart -->
          <div class="col-lg-12 m-b30">
            <div class="widget-box">
              <div class="wc-title">
                <h4>Edit Course Quiz</h4>
              </div>
              <th:block th:if="${list.size() == 0}">
                <a href="#" data-toggle="modal" data-target="#AddCourseSection">Add Course Quiz</a>
              </th:block>

              <th:block th:if="${list.size() != 0}">
                <a href="#" data-toggle="modal" onclick="showAlert()">Add Course Quiz</a>
                <script>
                  function showAlert() {
                      alert("Just one quiz in a section");
                  }
                  </script>
              </th:block>
              
              <div class="widget-inner">
                <table style="text-align:center">
                  <thead>
                  <tr>
                    <td>ID</td>
                    <td>Created Date</td>
                    <td>Quiz Content</td>
                    <td>Time</td>
                    <td colspan="3">Action</td>
                  </tr>
                  </thead>
                  <tbody>
                  <th:block th:each="item:${list}">
                    <tr>
                      <td th:text="${item.quizid}"></td>
                      <td th:text="${#temporals.formatISO(item.quizdob)}"></td>
                      <td th:text="${item.quizcontent}"></td>
                      <td th:text="${item.time}"></td>
                      <td><a href="#" data-toggle="modal"
                             th:attr="data-target=${'#editsection' + item.quizid}">Update</a>
                      </td>
                      <td>
                        <a th:href="@{/editquestions(id=${item.quizid})}">View</a>
                      </td>
                      <td><a href="#" data-toggle="modal"
                             th:attr="data-target=${'#deletesection' + item.quizid}">Delete</a>
                      </td>
                    </tr>
                    <div class="modal fade" th:attr="id=${'deletesection' + item.quizid}"
                         tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete Course
                              Quiz</h5>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            Delete course quiz with title
                            <th:block th:text="${item.quizcontent}"></th:block>
                            ?
                          </div>
                          <div class="modal-footer">
                            <form th:action="@{/deleteCourseQuiz}">
                              <input type="hidden" name="coursequizid"
                                     th:value="${item.quizid}">
                              <button type="button" class="btn btn-secondary"
                                      data-dismiss="modal">Close
                              </button>
                              <button type="submit" class="btn btn-primary">Save changes
                              </button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal fade" th:attr="id=${'editsection' + item.quizid}"
                         tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Coure
                              Quiz</h5>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form th:action="@{/editCourseQuiz}" method="post">
                              <input type="hidden" name="id" th:value="${item.quizid}">
                              <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Quiz Title</label>
                                <input type="text" class="form-control" name="content"
                                       th:value="${item.quizcontent}" required>
                              </div>
                              <div class="form-group">
                                <label for="message-text" class="col-form-label">Quiz passpoint</label>
                                <input id="message-text" type="number"
                                       class="form-control" name="passpoint"
                                       th:value="${item.passpoint}" required>
                              </div>
                              <div class="form-group">
                                <label for="message-text" class="col-form-label">Quiz Time</label>
                                <input id="message-text" type="number"
                                       class="form-control" name="time"
                                       th:value="${item.time}" required>
                              </div>
                              <div class="form-group">
                                <label for="message-text" class="col-form-label">Quiz Random Question</label>
                                <input id="message-text" type="number"
                                       class="form-control" name="randomquestion"
                                       th:value="${item.randquestion}" max="${item.questionSet.size()}" required>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Close
                                </button>
                                <button type="submit" class="btn btn-primary">Update
                                </button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </th:block>
                  </tbody>
                </table>
                <div class="modal fade" id="AddCourseSection"
                     tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add a Quiz</h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form th:action="@{/addQuiz}" method="post">
                          <input type="hidden" name="sid" th:value="${coursectionID}">
                          <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Quiz Title</label>
                            <input type="text" class="form-control" name="title" required>
                          </div>
                          
                          <div class="form-group">
                            <label for="message-text" class="col-form-label">Quiz passpoint</label>
                            <input id="message-text" type="number"
                                   class="form-control" name="passpoint"
                                    required>
                          </div>

                          <div class="form-group">
                            <label for="message-text" class="col-form-label">Quiz Time</label>
                            <input id="message-text" type="number"
                                   class="form-control" name="time"
                                   required>
                          </div>
                          <div class="form-group">
                            <label for="message-text" class="col-form-label">Quiz Random Question</label>
                            <input id="message-text" type="number"
                                   class="form-control" name="randomquestion"
                                   max="${item.questionSet.size()}" required>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal">Close
                            </button>
                            <button type="submit" class="btn btn-primary">Add
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <a th:href="@{edit-coursesection(cid=${cid})}">Back</a>
          </div>
          <!-- Your Profile Views Chart END-->
        </div>
      </div>
    </main>
    <div class="ttr-overlay"></div>
  </th:block>
</th:block>
</html>
