
<th:block xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <header class="header rs-nav header-transparent">
        <div class="top-bar">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="topbar-left">
                        <ul>
                            <li><a href="faq-1.html"><i class="fa fa-question-circle"></i>Ask a Question</a></li>
                            <li><a href="javascript:;"><i class="fa fa-envelope-o"></i>educhampnotification@gmail.com</a></li>
                        </ul>
                    </div>
                    <div class="topbar-right">
                        <ul>
                            <li>

                            </li>
                            <th:block th:if="${#ctx.session.user != null}">
                                <th:block th:if="${#ctx.session.user.avatar != null}">
                                    <li><a href="/client/profile" ><img th:src="${#ctx.session.user.avatar}" style="height: 40px; margin: 0px"></a></li>
                                </th:block>
                                <th:block th:if="${#ctx.session.user.avatar == null}">
                                    <li><a href="/client/profile" ><img src="/assets/images/final-avt-default.jpg" style="height: 40px; margin: 0px"></a></li>
                                </th:block>
                                <li><a href="/client/logout">Logout</a></li>
                            </th:block>
                            <th:block th:if="${#ctx.session.user == null}">
                                <li><a href="/client/login">Login</a></li>
                                <li><a href="/client/signup">Register</a></li>
                            </th:block>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky-header navbar-expand-lg">
            <div class="menu-bar clearfix">
                <div class="container clearfix">
                    <!-- Header Logo ==== -->
                    <div class="menu-logo">
                        <a th:href="@{/home}"><img src="/assets/images/logo-white.png" alt=""></a>
                    </div>
                    <!-- Mobile Nav Button ==== -->
                    <button class="navbar-toggler collapsed menuicon justify-content-end" type="button" data-toggle="collapse" data-target="#menuDropdown" aria-controls="menuDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <!-- Author Nav ==== -->
                    <div class="secondary-menu">
                        <form th:action="@{/courses}" id="search-form">
                            <input style="border-radius: 24px" id="search-input-course" name="searchValue" type="text" class="form-control" placeholder="Type to search">
                        </form>
                    </div>
                    <!-- Navigation Menu ==== -->
                    <div class="menu-links navbar-collapse collapse justify-content-start" id="menuDropdown">
                        <div class="menu-logo">
                            <a th:href="@{/home}"><img src="/assets/images/logo.png" alt=""></a>
                        </div>
                        <ul class="nav navbar-nav">
                            <li class="active"><a th:href="@{/home}">Home</a>
                            </li>
                            <li><a href="javascript:;">Category <i class="fa fa-chevron-down"></i></a>
                                <ul class="sub-menu">
                                    <th:block th:each="item : ${#ctx.session.categories}">
                                        <li><a th:href="@{/courses(categoryID=${item.categoryid})}" th:text="${item.categoryname}"></a></li>
                                    </th:block>
                                </ul>
                            </li>
                            <li th:if="${#ctx.session.user != null && #ctx.session.user.getRole().equals('ROLE_MENTEE')}" class="add-mega-menu"><a href="/client/mycourse">My Courses</a>
                            </li>
                            <li th:if="${#ctx.session.user != null && #ctx.session.user.getRole().equals('ROLE_COURSEOWNER')}" class="add-mega-menu"><a href="/client/mycourse">My Courses</a>
                            </li>
                            <li th:if="${#ctx.session.user != null && #ctx.session.user.getRole().equals('ROLE_COURSEOWNER')}" class="add-mega-menu"><a th:href="@{/courseowner/home}">Dashboard</a>
                            </li>
                            <li th:if="${#ctx.session.user != null && #ctx.session.user.getRole().equals('ROLE_ADMIN')}" class="add-mega-menu"><a th:href="@{/admin/dashboard}">Dashboard</a>
                            </li>
<!--                            <li><a href="/client/schedule">Schedule</a></li>-->
                        </ul>
                        <div class="nav-social-link">
                            <a href="javascript:;"><i class="fa fa-facebook"></i></a>
                            <a href="javascript:;"><i class="fa fa-google-plus"></i></a>
                            <a href="javascript:;"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <!-- Navigation Menu END ==== -->
                </div>
            </div>
        </div>
    </header>
</th:block>