<head xmlns:th="http://www.thymeleaf.org">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />

    <!-- DESCRIPTION -->
    <meta name="description" content="EduChamp : Education HTML Template" />

    <!-- OG -->
    <meta property="og:title" content="EduChamp : Education HTML Template" />
    <meta property="og:description" content="EduChamp : Education HTML Template" />
    <meta property="og:image" content="" />
    <meta name="format-detection" content="telephone=no">

    <!-- FAVICONS ICON ============================================= -->
    <link rel="icon" th:href="@{/assets/images/favicon.ico}" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/images/favicon.png}" />

    <!-- PAGE TITLE HERE ============================================= -->
    <title>Online Learning</title>

    <!-- MOBILE SPECIFIC ============================================= -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
    <script th:src="@{/assets/js/html5shiv.min.js}"></script>
    <script th:src="@{/assets/js/respond.min.js}"></script>
    <![endif]-->

    <!-- All PLUGINS CSS ============================================= -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/assets.css}">

    <!-- TYPOGRAPHY ============================================= -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/typography.css}">

    <!-- SHORTCODES ============================================= -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/shortcodes/shortcodes.css}">

    <!-- STYLESHEETS ============================================= -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">
    <link class="skin" rel="stylesheet" type="text/css" th:href="@{/assets/css/color/color-1.css}">

    <!-- REVOLUTION SLIDER CSS ============================================= -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/vendors/revolution/css/layers.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/vendors/revolution/css/settings.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/vendors/revolution/css/navigation.css}">
</head>
