<style>
    /* Đảm bảo phần select có cùng chiều rộng với input */
    .small-select {
        width: 100%;
        max-width: 200px; /* Điều chỉnh chiều rộng tối đa nếu cần */
    }
</style>
<!-- META ============================================= -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content=""/>
<meta name="author" content=""/>
<meta name="robots" content=""/>

<!-- DESCRIPTION -->
<meta name="description" content="EduChamp : Education HTML Template"/>

<!-- OG -->
<meta property="og:title" content="EduChamp : Education HTML Template"/>
<meta property="og:description" content="EduChamp : Education HTML Template"/>
<meta property="og:image" content=""/>
<meta name="format-detection" content="telephone=no">

<!-- FAVICONS ICON ============================================= -->
<link rel="icon" href="/../error-404.html" type="image/x-icon"/>
<link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.png"/>

<!-- PAGE TITLE HERE ============================================= -->
<title>EduChamp : Education HTML Template </title>

<!-- MOBILE SPECIFIC ============================================= -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--[if lt IE 9]>
<script src="/assets/js/html5shiv.min.js"></script>
<script src="/assets/js/respond.min.js"></script>
<![endif]-->

<!-- All PLUGINS CSS ============================================= -->
<link rel="stylesheet" type="text/css" href="/assets/css/assets.css">
<link rel="stylesheet" type="text/css" href="/admin/vendors/calendar/fullcalendar.css">

<!-- TYPOGRAPHY ============================================= -->
<link rel="stylesheet" type="text/css" href="/assets/css/typography.css">

<!-- SHORTCODES ============================================= -->
<link rel="stylesheet" type="text/css" href="/assets/css/shortcodes/shortcodes.css">

<!-- STYLESHEETS ============================================= -->
<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
<link rel="stylesheet" type="text/css" href="/admin/css/dashboard.css">
<link class="skin" rel="stylesheet" type="text/css" href="/assets/css/color/color-1.css">
