<th:block xmlns:th="http://www.thymeleaf.org">
    <script th:src="@{/admin/js/jquery.min.js}"></script>
    <script th:src="@{/admin/vendors/bootstrap/js/popper.min.js}"></script>
    <script th:src="@{/admin/vendors/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/admin/vendors/bootstrap-select/bootstrap-select.min.js}"></script>
    <script th:src="@{/admin/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js}"></script>
    <script th:src="@{/admin/vendors/magnific-popup/magnific-popup.js}"></script>
    <script th:src="@{/admin/vendors/counter/waypoints-min.js}"></script>
    <script th:src="@{/admin/vendors/counter/counterup.min.js}"></script>
    <script th:src="@{/admin/vendors/imagesloaded/imagesloaded.js}"></script>
    <script th:src="@{/admin/vendors/masonry/masonry.js}"></script>
    <script th:src="@{/admin/vendors/masonry/filter.js}"></script>
    <script th:src="@{/admin/vendors/owl-carousel/owl.carousel.js}"></script>
    <script th:src="@{/admin/vendors/scroll/scrollbar.min.js}"></script>
    <script th:src="@{/admin/js/functions.js}"></script>
    <script th:src="@{/admin/vendors/chart/chart.min.js}"></script>
    <script th:src="@{/admin/js/admin.js}"></script>
    <script th:src="@{/admin/vendors/switcher/switcher.js}"></script>
    <script th:src="@{/https://code.jquery.com/jquery-3.6.0.min.js}"></script>
    <!-- Revolution @{avaScripts Files -->
</th:block>
