<th:block xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <!-- Left sidebar menu start -->
  <div class="ttr-sidebar">
    <div class="ttr-sidebar-wrapper content-scroll">
        <!-- side menu logo start -->
        <div class="ttr-sidebar-logo">
            <a href="#"><img alt="" src="/assets/images/logo.png" width="122" height="27"></a>
            <!-- <div class="ttr-sidebar-pin-button" title="Pin/Unpin Menu">
            <i class="material-icons ttr-fixed-icon">gps_fixed</i>
            <i class="material-icons ttr-not-fixed-icon">gps_not_fixed</i>
        </div> -->
            <div class="ttr-sidebar-toggle-button">
                <i class="ti-arrow-left"></i>
            </div>
        </div>
        <!-- side menu logo end -->
        <!-- sidebar menu start -->
        <nav class="ttr-sidebar-navi">
            <ul>
                <li>
                    <a href="http://localhost:8080/admin/dashboard" class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-home"></i></span>
                        <span class="ttr-label">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/admin/create-account}" class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-layout-accordion-list"></i></span>
                        <span class="ttr-label">Add Account</span>
                    </a>
                </li>

                <li>
                    <a th:href="@{/admin/view-account}" class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-layout-accordion-list"></i></span>
                        <span class="ttr-label">Account Manager</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/comment-management" class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-layout-accordion-list"></i></span>
                        <span class="ttr-label">Comment Manager</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/course-manager" class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-layout-accordion-list"></i></span>
                        <span class="ttr-label">Course Manager</span>
                    </a>
                </li>
                <li class="ttr-seperate"></li>
            </ul>
        </nav>
        <!-- sidebar menu end -->
    </div>
</div>
</th:block>
