<th:block xmlns:th="http://www.thymeleaf.org">
    <div class="ttr-overlay"></div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/vendors/bootstrap/js/popper.min.js"></script>
    <script src="/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/vendors/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="/assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
    <script src="/assets/vendors/magnific-popup/magnific-popup.js"></script>
    <script src="/assets/vendors/counter/waypoints-min.js"></script>
    <script src="/assets/vendors/counter/counterup.min.js"></script>
    <script src="/assets/vendors/imagesloaded/imagesloaded.js"></script>
    <script src="/assets/vendors/masonry/masonry.js"></script>
    <script src="/assets/vendors/masonry/filter.js"></script>
    <script src="/assets/vendors/owl-carousel/owl.carousel.js"></script>
    <script src='/admin/vendors/scroll/scrollbar.min.js'></script>
    <script src="/assets/js/functions.js"></script>
    <script src="/admin/vendors/chart/chart.min.js"></script>
    <script src="/admin/js/admin.js"></script>
    <script src='/admin/vendors/calendar/moment.min.js'></script>
    <script src='/admin/vendors/calendar/fullcalendar.js'></script>
    <script src='/assets/vendors/switcher/switcher.js'></script>
</th:block>
