.container{
    background-color: rgb(248, 248, 248);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 2px;
}

.header{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 5px rgba(157, 161, 161, 0.683);
    width: 100%;
    height: 60px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bodypart{
    width: 70%;
    height: auto;
    min-height: 600px;
    display: flex;
    margin:auto;
}

.payment{
    background-color: white;
    width: 60%;
    height: auto;
    min-height: 600px;
}

.comfirm{
    
    width: 40%;
    height: 300px;
    display: flex;
    flex-direction: column;

}

.summary{
    width: 75%;
    height: 170px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px solid rgb(53, 53, 53);
    margin: auto;
    margin-top: 50px;

}

.summary-title{
    margin-left: 9px;
    width: 80%;
}

.summary-item{
    margin: auto;
    margin-top: -10px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.des-text .show-money{
    height: 8px;
    display: block;
    
}

.pay-btn{
    width: 100%;
    height: 55px;
    background-color: aqua;
    margin: auto;
    margin-top: 0px;
    border: none;
}

.pay-control{
    width: 75%;
    height: 100px;
    display: flex;
    flex-direction: column;
    margin: auto;

}

.pay-title{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -.05rem;
    max-width: 36em;
}

.pay-method{
    font-family: var(--font-stack-heading);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 1.6rem;
    max-width: 36em;
    margin-top: 70px;
}

.logo-paypal{
    background-color: rgb(230, 230, 230);
    height: 45px;
    display: flex;
    align-items: center;
    border: 0.5px solid rgb(80, 80, 80);
}

.logo{
    margin-top: 0px;
    background-color: aliceblue;
    border-radius: 5px;
    width: 45px;
    margin-left: 5px;
}

.logo-title{
    font-family: var(--font-stack-heading);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 1.1rem;
    margin-left: 6px;
}

.payment-info{
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid gray;
    margin: auto;
}

.course-info{
    display: flex;
    align-items: center;
}

.course-img{
    width: 35px;
    height: 35px;
}

.course-info p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    font-size: 0.9rem;
    color: #2d2f31;
    font-weight: 700;
    margin-left: 5px;
}

.edu-logo{
    text-decoration: none;
    width: 50px;
    height: 50px;
    background-color: white;
}

.cancel-btn{
    width: 50px;
    height: 25px;
}

.cancel-btn a{
    width: 30px;
    height: 30px;
    text-decoration: none;
    color: rgb(254, 163, 26);
}