.quiz-container {
    justify-content: space-between;
    padding: 15px;
    height: auto;
    background-color: whitesmoke;
    border-radius: 10px;
}

.mainbody,
.end {
    background-color: whitesmoke;
}

.header {
    width: 98.8%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    margin-top: -10px;
}

.headerstart {
    width: 100%;
    height: 100px;

}

.mainbody {
    width: 100%;
    min-height: 500px;
    height: auto;
    margin-top: 15px;
    display: flex;
}

.end {
    width: 100%;
    min-height: 125px;
    height: auto;
    border: 1px solid black;
    margin-top: 15px;
}

/*workspace*/

.workspace {
    width: 60%;
    height: 100%;
    min-height: 150px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    height: auto;
    background-color: white;


}

.status {
    padding: 4px;
    border-right: 1px solid black;
    width: 15%;
}

.getflag {
    font-size: 11px;
    text-decoration: none;
}

.question-record {
    width: 98%;
    height: auto;
}

.quizspace {
    padding: 4px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    display: flex;
}

.timeline {
    width: 34%;
    min-height: 250px;
    position: fixed;
    top: 150px;
    right: 30px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: white;
    border-radius: 10px;
    align-items: center;
}

.countdown {
    width: 40%;
    height: 40px;
    border: 1px solid black;
    margin-top: 4px;
    margin-left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notice {
    width: 96%;
    height: 130px;
    border: 1px solid black;
    margin-top: 4px;
    margin-left: 4px;
}

.submitbutton {
    width: 25%;
    height: 29px;
    margin: 4px;
}

.questionform {
    width: 98%;
    min-height: 20px;
    overflow-wrap: break-word;
    height: auto;
    margin: auto;
}

.answerform {
    width: 98%;
    min-height: 70px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;

}

.answer {
    display: flex;
    flex-direction: row;
    margin-top: -10px;
}

#timer {
    font-size: 24px;
}

.quiz-description {}

.menu-logo {}

.checkbox-custom {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
}

.checkbox-custom .flag-item .flagcheckbox{
    display: none;
}

.checkbox-custom .flag-item::before{
    width: 20px;
    height: 20px;
}

.checkbox-custom .flag-item .fcheck{
    display: none;
}

.checkbox-custom .flag-item .flagcheckbox:checked~.fcheck{
    display: block;
}

.checkbox-custom .flag-item .flagcheckbox:checked~.funcheck{
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Màu xám với độ mờ */
    z-index: 999;
    /* Đảm bảo lớp này nằm trên cùng */
    display: none;
    /* Ban đầu ẩn lớp mờ */
}