.container{
    width: 100%;
    height: 800px;
    
}

.resultpanel{
    width: 60%;
    height: 40%;
    border: 1px black solid;
    border-radius: 10px;
    margin: auto;
    margin-top: 100px;
    background-color: rgb(211, 225, 232);
}

.lable{
    width: 80%;
    height: 60px;
    border-bottom: 1px black solid;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 250px;
    padding: -5px;
}

.counting{
    width: 40%;
    height: 90%;
    border-right: 1px black solid;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 35px;

    padding: 15px;
}

.percent{
    width: 50%;
    height: 90%;
    margin: auto;
    padding: -10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

}

.celemet{
    height: 50px;
    display: flex;
}


.points{
    width: 95%;
    height: 95%;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.notify{
    font-size: 10px;
    word-wrap: break-word;
}

.header{
    width: 98.8%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: white;

}



