    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
    :root {
        --yellow: #FFBD13;
        --blue: #4383FF;
        --blue-d-1: #3278FF;
        --light: #F5F5F5;
        --grey: #AAA;
        --white: #FFF;
        --shadow: 8px 8px 30px rgba(0, 0, 0, .05);
    }
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    html {
        font-family: Arial, Helvetica, sans-serif;
    }

    #main {}

    #header {
        height: 60px;
        background-color: rgb(42, 133, 198);
    }

    #nav-left {
        float: left;
    }

    #nav-left li {
        display: inline-block;
    }

    #nav-left li a {
        color: white;
        text-decoration: none;
        font-size: 20px;
        line-height: 60px;
        padding: 0 24px;
        font-weight : 600;
    }

    #nav-left li a:hover {
        color: black;
    }

    #nav-right {
        float: right;
    }

    #nav-right li {
        display: inline-block;
    }

    #nav-right li a {
        color: white;
        text-decoration: none;
        font-size: 20px;
        line-height: 60px;
        padding: 0 24px;
        font-weight : 600;
    }

    #nav-right li a:hover {
        color: black;
    }
    /*------ play video page ------*/

    .play-container {
        padding-left: 2%;
    }

    .row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .play-video {
        flex-basis: 69%;
    }

    .right-sidebar {
        flex-basis: 30%;
    }

    .play-video video {
        width: 100%;
    }

    .side-video-list {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
    }

    .side-video-list img {
        width: 100%;
    }

    .side-video-list .vid-info a {
        text-decoration: none;
    }

    .side-video-list .vid-info a:hover {
        color: black;
    }

    .play-video .tags a {
        text-decoration: none;
        color: #4aabf6;
        font-size: 13px;
    }

    .play-video h3 {
        font-weight: 600;
        font-size: 24px;
    }

    .play-video .play-video-info img {
        width: 60px;
        height: 40px;
        margin-right: 8px;
    }

    .play-video .play-video-info a {
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        margin-left: 15px;
    }

    .play-video .play-video-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 10px;
        font-size: 14px;
        color: #5a5a5a;
    }

    .publisher {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }

    .publisher div {
        flex: 1;
        line-height: 18px;
    }

    .publisher img {
        width: 50px;
        border: 50%;
        margin-right: 15px;
        border-radius: 50%;
    }

    .publisher div p {
        color: black;
        font-weight: 600;
        font-size: 18px;
    }

    .publisher div a {
        text-decoration: none;
    }

    .publisher div span {
        font-size: 13px;
        color: #5a5a5a;
    }

    .publisher button {
        background: red;
        color: white;
        padding: 8px 30px;
        border: 0;
        outline: 0;
        border-radius: 5px;
        cursor: pointer;
    }

    .vid-description {
        padding-left: 15px;
        margin: 15px 0;
    }

    .vid-description p {
        font-size: 14px;
        margin-bottom: 5px;
        color: #5a5a5a;
    }

    .vid-description h4 {
        font-size: 14px;
        color: #5a5a5a;
        margin-top: 15px;
    }



    .old-comment {
        display: flex;
        align-items: center;
        margin: 20px 0;
    }

    .old-comment img {
        width: 25px;
        border-radius: 50%;
        margin-right: 15px;
    }

    .old-comment h3 {
        font-size: 14px;
        margin-bottom: 2px;
    }

    .old-comment h3 span {
        font-size: 12px;
        color: #5a5a5a;
        font-weight: 500;
        margin-left: 8px;
    }
    .old-comment span {
            font-size: 12px;
            font-style: italic;
            color: #5a5a5a;
            font-weight: 500;
            margin-left: 8px;
        }
       .old-comment a {
           text-decoration : none;
                    font-size: 12px;
                    font-style: italic;
                    color: #5a5a5a;
                    font-weight: 500;
                    margin-left: 8px;
                }
    .old-comment a:hover{
     text-decoration: underline;
     color: blue;
    }

    .old-comment div {
            flex-basis: 90%;
        }

    .old-comment .comment {
            margin: 20px 0;
            padding: 15px;
            height: inherit;
            flex-basis: 9%;
        }
    .old-comment .comment a{
    text-decoration: none;
    }
    .old-comment .comment a span {
            padding-top: 10px;
            text-align: center;
            font-weight: 600;
        }

    .right-sidebar {
        max-width: 800px;
    }

    .right-sidebar .contentBx {
        position: relative;
        margin: 10px 20px;
    }

    .right-sidebar .contentBx .label {
        position: relative;
        padding: 20px;
        background: rgb(42, 133, 198);
        color: white;
        font-weight: 600;
        font-size: 20px;
        cursor: pointer;
    }

    .right-sidebar .contentBx .label:hover {
        background-color: pink;
        color: white;
    }

    .right-sidebar .contentBx .label::before {
        content: '+';
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        font-size: 1.5em;
    }

    .right-sidebar .contentBx.active .label::before {
        content: '-';
    }

    .right-sidebar .contentBx .content {
        position: relative;
        background-color: white;
        height: 0;
        overflow: hidden;
        transition: 0.5s;
        overflow-y: auto;
    }

    .right-sidebar .contentBx.active .content {
        height: auto;
        padding: 10px;
    }

    .right-sidebar .contentBx .content .subnav {
        background-color: rgb(255, 254, 254);
        line-height: auto;
        display: block;
    }

    .right-sidebar .contentBx .content .subnav li:hover {
        background-color: #ceeaf1;
    }

    .right-sidebar .contentBx .content .subnav li {
        line-height: auto;
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 10px;
        list-style-type: none;
        font-family: Arial, Helvetica, sans-serif;
        border-bottom: 1px solid rgb(199, 198, 198);
    }

    .right-sidebar .contentBx .content .subnav li a {
        font-size: 18px;
        font-weight: 400;
        color: rgb(58, 57, 57);
        line-height: auto;
        margin: 5px;
    }

    .right-sidebar .contentBx .content .subnav li .btncheckbox {
        color: #5a5a5a;
        margin-left: 5px;
        line-height: auto;
        padding: 5px;
    }

    .right-sidebar .contentBx .content .subnav li a {
        font-weight: 100;
        text-decoration: none;
    }

    .tabs {
            display: flex;
            position: relative;
        }

        .tabs .line {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 6px;
            border-radius: 15px;
            background-color: rgb(42, 133, 198);
            transition: all 0.2s ease;
        }

        .tab-item {
            min-width: 80px;
            padding: 16px 20px 11px 20px;
            font-size: 20px;
            text-align: center;
            color: rgb(42, 133, 198);
            background-color: #fff;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom: 5px solid transparent;
            opacity: 0.6;
            cursor: pointer;
            transition: all 0.5s ease;
        }

        .tab-item:hover {
            opacity: 1;
            background-color: rgba(194, 53, 100, 0.05);
            border-color: rgba(194, 53, 100, 0.1);
        }

        .tab-item.active {
            opacity: 1;
        }

        .tab-content {
            padding: 28px 0;
        }

        .tab-pane {
            color: #333;
            display: none;
        }

        .tab-pane.active {
            display: block;
        }
    .app {
            display: grid;
            place-items: center;
        }

        .rating {
            width: 75%;
            display: flex;
            align-items: center;
            column-gap: 2rem;
        }

        .rating_average {
            width: 30%;
            background-color: #2609a8;
            padding: 1rem;
            border-radius: .8rem;
            text-align: center;
            color: white;
        }

        .rating_average h1 {
            font-size: 3rem;
            color: #fff;
        }

        .rating_average p {
            margin-top: .7rem;
            letter-spacing: .1rem;
            color: #fff;
        }

        .rating_progress {
            width: 70%;
        }

        .rating_progress-value {
            height: 2rem;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            column-gap: 1rem;
        }

        .rating_progress-value .star {
            font-size: 1.2rem;
            color: gold;
        }

        .rating_progress-value p:last-child {
            width: 10%;
        }

        .rating_progress .progress {
            flex: 1 1 0;
            height: .5rem;
            background-color: #ccc;
            border-radius: 6px;
        }

        .bar {
            height: 100%;
            background-color: gold;
            border-radius: .5rem;
        }

        .rating_average .star-outer,.star-outer-feedback {
            position: relative;
            font-size: 2rem;
            display: inline-block;
        }
        .star-outer-feedback {
                    position: relative;
                    font-size: 1rem;
                    display: inline-block;
                }

        .rating_average .star-outer::before {
            content: "\2605 \2605 \2605 \2605 \2605";
            color: #fff8;
        }
        .star-outer-feedback::before {
        content: "\2605 \2605 \2605 \2605 \2605";
                    color: #5c5c5c;
        }

        .rating_average .star-inner,.star-inner-feedback {
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            overflow: hidden;
        }
        .star-inner-feedback::before {
        content: "\2605 \2605 \2605 \2605 \2605";
                    color: gold;
        }
        .rating_average .star-inner::before {
            content: "\2605 \2605 \2605 \2605 \2605";
            color: gold;
        }
        .back-all-comment-box {
                border: 1px solid black;
                width: 20%;
                text-align: center;
                padding: 10px;
                margin-left: 5%;
            }

            .back-all-comment-box a {
                text-decoration: none;
                color: black;
            }

            .back-all-comment-box:hover {
                background: #ccc;
            }

            .infor-parent-comment {
                background-color: #2609a8;
                margin-left: 5%;
            }

            .infor-parent-comment .cmt-left {
                float: left;
            }

            .infor-parent-comment .cmt-right {
                float: right;
            }

            .infor-parent-comment .cmt-left,
            .infor-parent-comment .cmt-right p {
                font-weight: 600;
            }

            #parent-cmt {
                border: 1px solid #ccc;
                margin-left: 5%;
                border-radius: 5px;
            }
            .container{

                    margin: 20px 0;
            }
            .container textarea {
                    width: 95%;
                    border: none;
                    border-bottom: 2px solid #aaa;
                    background-color: transparent;
                    margin-bottom: 10px;
                    resize: none;
                    outline: none;
                    transition: .5s;
                }

                input[type="submit"],
                button {
                    padding: 10px 15px;
                    border: none;
                    outline: none;
                    border-radius: 5px;
                    text-transform: uppercase;
                    font-weight: bold;
                    cursor: pointer;
                }

                input[type="submit"] {
                    color: #fff;
                    background-color: #273c75;
                }

                button {
                    color: #333;
                    background-color: transparent;
                }

                .btn {
                    display: none;
                }
                .voting-body {
                    background: var(--light);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    min-height: 100vh;
                    padding: 1rem;
                }

                .wrapper {
                    background: rgb(228, 227, 227);
                    padding: 2rem;
                    max-width: 500px;
                    width: 100%;
                    border-radius: .75rem;
                }

                .wrapper h3 {
                    font-size: 1.5rem;
                    font-weight: 600;
                    margin-bottom: 1rem;
                    text-align: center;
                }

                .rating-voting {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    grid-gap: .5rem;
                    font-size: 2rem;
                    margin-bottom: 2rem;
                }

                .rating-voting i {
                    color: gray;
                    font-size: 35px;
                    cursor: pointer;
                }

                .rating-voting i:hover {
                    transform: scale(1.1);
                }

                .rating-voting i.active {
                    color: gold;
                }


                .rating-voting2 {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    grid-gap: .5rem;
                                    font-size: 2rem;
                                    margin-bottom: 2rem;
                                }

                                .rating-voting2 i {
                                    color: gray;
                                    font-size: 35px;
                                    cursor: pointer;
                                }

                                .rating-voting2 i:hover {
                                    transform: scale(1.1);
                                }

                                .rating-voting2 i.active {
                                    color: gold;
                                }

                .app textarea {
                    background: white;
                    width: 100%;
                    padding: .5rem;
                    border-radius: .5rem;
                    border: none;
                    outline: none;
                    resize: none;
                    margin-bottom: .5rem;
                    color:black;
                }

                .btn-group {
                    display: flex;
                    grid-gap: .5rem;
                    align-items: center;
                }

                .btn-group .btn1 {
                    padding: .75rem 1rem;
                    border-radius: .5rem;
                    background: white;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    font-size: .875rem;
                }

                .btn-group .btn1.submit {
                    background-color: #273c75;
                    color: white;
                }
                .btn-group .btn1.edit {
                                    background-color: #273c75;
                                    color: white;
                                }
                .btn-group .btn1.cancel {
                    background-color: white;
                    color: #273c75;
                }

                .btn-group .btn1.submit:hover {
                    background: rgb(19, 19, 223);
                }

                .btn-group .btn1.cancel:hover {
                    background: white;
                    color: blue;
                }
                .open-popup {
                    display: none;
                }
    @media(max-width:900px) {
        .play-video {
            flex-basis: 100%;
        }
        .right-sidebar {
            flex-basis: 100%;
        }
        .play-container {
            padding-left: 5%;
        }
        .vid-description {
            padding-left: 0;
        }
    }