<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{client-layout}">

<th:block layout:fragment="content">
  <th:block layout:insert="~{fragments/client/header}"/>
  <th:block>
    <!-- Content -->
    <div class="page-content bg-white">
      <!-- inner page banner -->
      <div class="page-banner ovbl-dark" style="background-image:url(/assets/images/banner/banner1.jpg);">
        <div class="container">
          <div class="page-banner-entry">
            <h1 class="text-white">Profile</h1>
          </div>
        </div>
      </div>
      <!-- Breadcrumb row -->
      <div class="breadcrumb-row">
        <div class="container">
          <ul class="list-inline">
            <li><a href="/home">Home</a></li>
            <li>set schedule</li>
          </ul>
        </div>
      </div>
      <!-- Breadcrumb row END -->
      <!-- inner page banner END -->
      <div class="content-block">
        <!-- About Us -->
        <div class="section-area section-sp1">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-12 m-b30">
                <div class="profile-bx text-center">
                  <div class="user-profile-thumb">
                    <th:block th:if="${#ctx.session.user.avatar != null}">
                      <img th:src="${#ctx.session.user.avatar}" alt=""/>
                    </th:block>
                    <th:block th:if="${#ctx.session.user.avatar == null}">
                      <img src="/assets/images/final-avt-default.jpg" alt=""/>
                    </th:block>
                  </div>
                  <div class="profile-info">
                    <h4 th:text="${#ctx.session.user.fullName}"></h4>
                    <span th:text="${#ctx.session.user.email}"></span>
                  </div>
                  <div class="profile-social">
                    <ul class="list-inline m-a0">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                  </div>
                  <div class="profile-tabnav">
                    <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <a class="nav-link" th:href="@{/client/schedule}"><i class="ti-bookmark-alt"></i>Schedule list</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#add-schedule"><i class="ti-pencil-alt"></i>Add Schedule</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-9 col-md-8 col-sm-12 m-b30">
                <div class="profile-content-bx">
                  <div class="tab-content">
                    <div class="tab-pane active" id="add-schedule">
                      <div class="profile-head">
                        <h3>add schedule</h3>
                      </div>
                      <form class="edit-profile" method="post" th:action= "@{/client/addSchedule}" th:object="${schedule}">
                        <table class="course-features">
                          <thead>
                          <tr>
                            <th><i class="ti-book"></i>Title</th>
                            <th><i class="ti-help-alt"></i>Course name</th>
                            <th><i class="ti-stats-up"></i>Reminder after</th>
                          </tr>
                          </thead>
                            <tr>
                              <td>
                                <input class="form-control" type="text" th:field="*{titleschedule}">
                              </td>
                              <td>
                                <select th:field="*{course.coursename}">Course
                                  <th:block th:each="course : ${sublistCourseRegister}">
                                    <option th:text="${course.coursename}" th:value="${course.coursename}"></option>
                                  </th:block>
                                </select>
                              </td>
                              <td>
                                <th:block th:if="${error != null}">
                                  <div class="error-message" style="color: red" th:text="${error}"></div>
                                </th:block>
                                <input class="form-control" type="datetime-local" th:field="*{reminderafter}">
                              </td>
                            </tr>
                        </table>
                        <div class="">
                          <div class="">
                            <div class="row">
                              <div class="col-12 col-sm-3 col-md-3 col-lg-2">
                              </div>
                              <div class="col-12 col-sm-9 col-md-9 col-lg-7">
                                <button type="submit" class="btn">Save changes</button>
                                <button type="reset" class="btn-secondry">Reset</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- contact area END -->
    </div>
    <!-- Content END-->
  </th:block>
  <th:block layout:insert="~{fragments/client/footer}"/>
</th:block>

</html>
