<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{client-layout}">
<th:block layout:fragment="content">
	<th:block layout:insert="~{fragments/client/header}"/>
	<th:block>
		<div class="page-content bg-white">
			<!-- inner page banner -->
			<div class="page-banner ovbl-dark" style="background-image:url(assets/images/banner/banner3.jpg);">
				<div class="container">
					<div class="page-banner-entry">
						<h1 class="text-white">Our Courses</h1>
					</div>
				</div>
			</div>
			<!-- Breadcrumb row -->
			<div class="breadcrumb-row">
				<div class="container">
					<ul class="list-inline">
						<li><a href="/">Home</a></li>
						<li>Our Courses</li>
					</ul>
				</div>
			</div>
			<!-- Breadcrumb row END -->
			<!-- inner page banner END -->
			<div class="content-block">
				<!-- About Us -->
				<div class="section-area section-sp1">
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-md-4 col-sm-12 m-b30">
								<div class="widget courses-search-bx placeani">
									<div class="form-group">
										<div class="input-group">
											<label>Search Courses</label>
											<input name="dzName" type="text" required class="form-control">
										</div>
									</div>
								</div>
								<div class="widget widget_archive">
									<h5 class="widget-title style-1">All Category</h5>
									<ul>
										<th:block th:each="item : ${listCate}">
											<li th:class="${item.categoryid == categoryID ? 'active' : ''}"><a th:href="@{/courses(categoryID=${item.categoryid})}" th:text="${item.categoryname}"></a></li>
										</th:block>
									</ul>
								</div>
								<div class="widget">
									<a href="#"><img src="assets/images/adv/adv.jpg" alt=""/></a>
								</div>
							</div>
							<div class="col-lg-9 col-md-8 col-sm-12">
								<div class="row">
									<th:block th:each="item : ${pagingCourses}">
										<div class="col-md-6 col-lg-4 col-sm-6 m-b30">
											<div class="cours-bx">
												<div class="action-box">
													<img th:src="@{${item.image}}" style="height: 200px" alt="">
													<a th:href="@{/courseDetail/{id}(id=${item.getCourseid()})}" class="btn">Read More</a>
												</div>
												<div class="info-bx text-center">
													<h5><a th:href="@{/courseDetail/{id}(id=${item.getCourseid()})}" th:text="${item.getCoursename()}"></a></h5>
													<span th:text="${item.getCategory().categoryname}"></span>
												</div>
												<div class="cours-more-info">
													<div class="review">
														<span><th:block th:text="${item.getCourserating()}"></th:block> Review</span>
														<ul class="cours-star">
															<th:block th:each="i : ${#numbers.sequence(1, 5)}">
																<li th:if="${item.getAverageRating() >= i}" class="active"><i
																		class="fa fa-star"></i></li>
																<li th:if="${item.getAverageRating() < i}">
																	<i class="fa fa-star"></i>
																</li>
															</th:block>
														</ul>
													</div>
													<div class="price">
														<del>$<th:block th:if="${item.getCurrentPrice() != null}" th:text="${item.getCourseprice()}"></th:block></del>
														<h5>$<th:block th:text="${item.getCurrentPrice() != null ? item.getCurrentPrice() : item.getCourseprice()}"></th:block></h5>
													</div>
												</div>
											</div>
										</div>
									</th:block>

									<div class="col-lg-12 m-b20" th:if="${pagingCourses.totalPages > 0}">
										<div class="pagination-bx rounded-sm gray clearfix">
											<ul class="pagination">
												<li class="previous"><a href="#"><i class="ti-arrow-left"></i> Prev</a></li>
												<li  th:each="pageNumber : ${pageNumbers}" th:class="${pageNumber==pagingCourses.number + 1} ? active"><a href="#" th:text="${pageNumber}"></a></li>
												<li class="next"><a href="#">Next <i class="ti-arrow-right"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- contact area END -->

		</div>
	</th:block>
	<th:block layout:insert="~{fragments/client/footer}"/>
</th:block>

</html>
