<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

	<!-- META ============================================= -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />

	<!-- DESCRIPTION -->
	<meta name="description" content="EduChamp : Education HTML Template" />

	<!-- OG -->
	<meta property="og:title" content="EduChamp : Education HTML Template" />
	<meta property="og:description" content="EduChamp : Education HTML Template" />
	<meta property="og:image" content="" />
	<meta name="format-detection" content="telephone=no">

	<!-- FAVICONS ICON ============================================= -->
	<link rel="icon" th:href="@{assets/images/favicon.ico}" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/images/favicon.png}" />

	<!-- PAGE TITLE HERE ============================================= -->
	<title>Course List</title>

	<!-- MOBILE SPECIFIC ============================================= -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--[if lt IE 9]>
	<script th:src="@{/assets/js/html5shiv.min.js}"></script>
	<script th:src="@{/assets/js/respond.min.js}"></script>
	<![endif]-->

	<!-- All PLUGINS CSS ============================================= -->
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/assets.css}">

	<!-- TYPOGRAPHY ============================================= -->
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/typography.css}">

	<!-- SHORTCODES ============================================= -->
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/shortcodes/shortcodes.css}">

	<!-- STYLESHEETS ============================================= -->
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">
	<link class="skin" rel="stylesheet" type="text/css" th:href="@{/assets/css/color/color-1.css}">

	<style>
		/* Ẩn popup ban đầu */
		.custom-popup {
			display: none;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.7);
			z-index: 1;
			justify-content: center;
			align-items: center;
		}

		/* Tạo kiểu cho nội dung của popup */
		.popup-content {
			background: rgba(0, 0, 0, 0.7);
			padding: 20px;
			max-width: 70%;
			position: relative;
			display: flex;
			flex-direction: column;
		}

		/* Tạo kiểu cho nút đóng */
		.close-popup-button {
			position: absolute;
			top: 50%;
			right: 8%;
			cursor: pointer;
			font-size: 20px;
		}

		/* Tùy chỉnh video trong popup-dialog */
		.popup-content video {
			width: 85%;
			height: 65%;
		}
	</style>

</head>

<body id="bg">
	<div class="page-wraper">
		<div id="loading-icon-bx"></div>
		<!-- Header Top ==== -->

		<!-- header END ==== -->
		<th:block layout:insert="~{fragments/client/header}" />
		<!-- Content -->
		<div class="page-content bg-white">
			<!-- inner page banner -->
			<div class="page-banner ovbl-dark" style="background-image:url(/assets/images/banner/banner2.jpg);">
				<div class="container">
					<div class="page-banner-entry">
						<h1 class="text-white">Courses Details</h1>
					</div>
				</div>
			</div>
			<!-- Breadcrumb row -->
			<div class="breadcrumb-row">
				<div class="container">
					<ul class="list-inline">
						<li><a href="/">Home</a></li>
						<li>Courses Details</li>
					</ul>
				</div>
			</div>
			<!-- Breadcrumb row END -->
			<!-- inner page banner END -->
			<div class="content-block">
				<!-- About Us -->
				<div class="section-area section-sp1">
					<div class="container">
						<div class="row d-flex flex-row-reverse">
							<div class="col-lg-3 col-md-4 col-sm-12 m-b30">
								<div class="course-detail-bx">
									<div class="course-price">
										<del>$<th:block th:if="${course.getCurrentPrice() != null}"
												th:text="${course.getCourseprice()}"></th:block></del>
										<h4 class="price">$<th:block
												th:text="${course.getCurrentPrice() != null ? course.getCurrentPrice() : course.getCourseprice()}">
											</th:block>
										</h4>
									</div>
									<div class="course-buy-now text-center">
										<a th:href="@{'/payment?courseid=' + ${course.courseid}}"
											class="btn radius-xl text-uppercase">Buy Now This Courses</a>
									</div>
									<div class="teacher-bx">
										<div class="teacher-info">
											<div class="teacher-thumb">
												<img th:src="@{${course.getCourseowner().getUser().avatar}}" alt="" />
											</div>
											<div class="teacher-name">
												<h5 th:text="${course.getCourseowner().getUser().getFullname()}"></h5>
											</div>
										</div>
									</div>
									<div class="cours-more-info">
										<div class="review">
											<span>
												<th:block th:text="${course.feedbackdetailSet.size()}"></th:block> Review
											</span>
											<ul class="cours-star">
												<th:block th:each="i : ${#numbers.sequence(1, 5)}">
													<li th:if="${course.getAverageRating() >= i}" class="active"><i
															class="fa fa-star"></i></li>
													<li th:if="${course.getAverageRating() < i}"><i
															class="fa fa-star"></i></li>
												</th:block>
											</ul>
										</div>
										<div class="price categories">
											<span>Categories</span>
											<h5 class="text-primary" th:text="${course.getCategory().categoryname}">
											</h5>
										</div>
									</div>
									<div class="course-info-list scroll-page">
										<ul class="navbar">
											<li><a class="nav-link" href="#overview"><i class="ti-zip"></i>Overview</a>
											</li>
											<li><a class="nav-link" href="#curriculum"><i
														class="ti-bookmark-alt"></i>Curriculum</a></li>
											<li><a class="nav-link" href="#instructor"><i
														class="ti-user"></i>Instructor</a></li>
											<li><a class="nav-link" href="#reviews"><i
														class="ti-comments"></i>Reviews</a></li>
										</ul>
									</div>
								</div>
							</div>

							<div class="col-lg-9 col-md-8 col-sm-12">
								<div class="courses-post">
									<div class="ttr-post-media media-effect" >
										<a href="#"><img th:src="@{${course.image}}" alt="" style="width: 350px; height: 300px;"></a>
									</div>
									<div class="ttr-post-info">
										<div class="ttr-post-title ">
											<h2 class="post-title" th:text="${course.getCoursename()}"></h2>
										</div>
									</div>
								</div>
								<div class="courese-overview" id="overview">
									<h4>Overview</h4>
									<div class="row">
										<div class="col-md-12 col-lg-4">
											<ul class="course-features">
												<li><i class="ti-book"></i> <span class="label">Lectures</span> <span
														class="value"
														th:text="${course.coursesectionSet.size()}">8</span></li>
												<li><i class="ti-help-alt"></i> <span class="label">Quizzes</span> <span
														class="value" th:text="${course.getTotalQuiz()}">1</span></li>
												<!-- <li><i class="ti-time"></i> <span class="label">Duration</span> <span class="value" th:text="${course.getDuration()}">60 hours</span></li> -->
												<li><i class="ti-stats-up"></i> <span class="label">Skill level</span>
													<span class="value"
														th:text="${course.level?.getLevelname()}">Beginner</span>
												</li>
												<li><i class="ti-smallcap"></i> <span class="label">Language</span>
													<span class="value"
														th:text="${course.language?.languagen}">English</span>
												</li>
											</ul>
										</div>
										<div class="col-md-12 col-lg-8">
											<h5 class="m-b5">Course Description</h5>
											<p th:utext="${course.getDescription()}"></p>
											<h5 class="m-b5">Prepare</h5>
											<ul class="list-checked primary">
												<ul class="list-checked primary">
													<th:block th:each="need : ${course.getPreneeds()}">
														<li th:text="${need.neededitem}">This is need of course</li>
													</th:block>

												</ul>
											</ul>
											<h5 class="m-b5">Learning Outcomes</h5>
											<ul class="list-checked primary">
												<th:block th:each="out : ${course.getOutcomes()}">
													<li th:text="${out.outcomeitem}">This is out come of course</li>
												</th:block>

											</ul>
										</div>
									</div>
								</div>
								<div class="m-b30" id="curriculum">
									<h4>Curriculum</h4>
									<ul class="curriculum-list">
										<th:block th:each="section : ${course.coursesectionSet}">
											<li>
												<h5 th:text="${section.sectiontitle}">First Level</h5>
												<ul>
													<th:block th:each="content : ${section.coursecontents}">
														<li>

															<div class="curriculum-list-box">
																<span th:text="${content.contenttitle}"
																	class="open-popup-span" th:style="${content.ispublic} ? 'color: #6021ff; ' : ''">Lesson 1.
																	</span>
																<span th:if="${content.ispublic}" class="public-video"
																	style="width: 600px; height: 700px;">
																	<div class="custom-popup"
																		th:id="${content.contentId}">
																		<div class="popup-content">

																			<i class="fa-solid fa-circle-xmark fa-2xl close-popup-button"
																				th:data-popup="${content.contentId}"></i>
																			<video controls autoplay width="640"
																				height="360">
																				<source th:src="${content.linkvideo}"
																					type="video/mp4">
																			</video>
																		</div>
																	</div>
																</span>
															</div>
															<span></span>
														</li>
													</th:block>


												</ul>
											</li>
										</th:block>
									</ul>
								</div>
								<div class="" id="instructor">
									<h4>Instructor</h4>
									<div class="instructor-bx">
										<div class="instructor-author">
											<img th:src="${course.getCourseowner().getUser().avatar}" alt="">
										</div>
										<div class="instructor-info">
											<h6 th:text="${course.getCourseowner().getUser().getFullname()}"></h6>
											<span>Professor</span>
											<ul class="list-inline m-tb10">
												<li><a href="#" class="btn sharp-sm facebook"><i
															class="fa fa-facebook"></i></a></li>
												<li><a href="#" class="btn sharp-sm twitter"><i
															class="fa fa-twitter"></i></a></li>
												<li><a href="#" class="btn sharp-sm linkedin"><i
															class="fa fa-linkedin"></i></a></li>
												<li><a href="#" class="btn sharp-sm google-plus"><i
															class="fa fa-google-plus"></i></a></li>
											</ul>
											<p class="m-b0" th:text="${course.getCourseowner().aboutme}">Lorem Ipsum is
												simply dummy text of the printing and typesetting industry. Lorem Ipsum
												has been the industry's standard dummy text ever since the 1500s, when
												an unknown printer took a galley of type and scrambled it to make a type
												specimen book. It has survived not only five centuries</p>
										</div>
									</div>

								</div>
								<div class="" id="reviews">
									<h4>Reviews</h4>

									<div class="review-bx">
										<div class="all-review">
											<h2 class="rating-type" th:text="${course.getAverageRating()}">xx.x</h2>
											<ul class="cours-star">
												<th:block th:each="i : ${#numbers.sequence(1, 5)}">
													<li th:if="${course.getAverageRating() >= i}" class="active"><i
															class="fa fa-star"></i></li>
													<li th:if="${course.getAverageRating() < i}"><i
															class="fa fa-star"></i></li>
												</th:block>
											</ul>
											<span th:text="${course.feedbackdetailSet.size()} + 'Rating'">n
												Rating</span>
										</div>
										<div class="review-bar">
											<div class="bar-bx">
												<div class="side">
													<div>5 star</div>
												</div>
												<div class="middle">
													<div class="bar-container">
														<div class="bar-5"
															th:style="'width: ' + ${course.getStarPercent(5)} + '%;'">
														</div>
													</div>
												</div>
												<div class="side right">
													<div th:text="${course.getStarNumber(5)}">xxx</div>
												</div>
											</div>
											<div class="bar-bx">
												<div class="side">
													<div>4 star</div>
												</div>
												<div class="middle">
													<div class="bar-container">
														<div class="bar-5"
															th:style="'width: ' + ${course.getStarPercent(4)} + '%;'">
														</div>
													</div>
												</div>
												<div class="side right">
													<div th:text="${course.getStarNumber(4)}">xxx</div>
												</div>
											</div>
											<div class="bar-bx">
												<div class="side">
													<div>3 star</div>
												</div>
												<div class="middle">
													<div class="bar-container">
														<div class="bar-5"
															th:style="'width: ' + ${course.getStarPercent(3)} + '%;'">
														</div>
													</div>
												</div>
												<div class="side right">
													<div th:text="${course.getStarNumber(3)}">xxx</div>
												</div>
											</div>
											<div class="bar-bx">
												<div class="side">
													<div>2 star</div>
												</div>
												<div class="middle">
													<div class="bar-container">
														<div class="bar-5"
															th:style="'width: ' + ${course.getStarPercent(2)} + '%;'">
														</div>
													</div>
												</div>
												<div class="side right">
													<div th:text="${course.getStarNumber(2)}">xxx</div>
												</div>
											</div>
											<div class="bar-bx">
												<div class="side">
													<div>1 star</div>
												</div>
												<div class="middle">
													<div class="bar-container">
														<div class="bar-5"
															th:style="'width: ' + ${course.getStarPercent(1)} + '%;'">
														</div>
													</div>
												</div>
												<div class="side right">
													<div th:text="${course.getStarNumber(1)}">xxx</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- contact area END -->

		</div>
		<!-- Content END-->
		<!-- Footer ==== -->
		<th:block layout:insert="~{fragments/client/footer}" />
		<!-- Footer END ==== -->
		<button class="back-to-top fa fa-chevron-up"></button>
	</div>
	<!-- External JavaScripts -->
	<script th:src="@{/assets/js/jquery.min.js}"></script>
	<script th:src="@{/assets/vendors/bootstrap/js/popper.min.js}"></script>
	<script th:src="@{/assets/vendors/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/assets/vendors/bootstrap-select/bootstrap-select.min.js}"></script>
	<script th:src="@{/assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js}"></script>
	<script th:src="@{/assets/vendors/magnific-popup/magnific-popup.js}"></script>
	<script th:src="@{/assets/vendors/counter/waypoints-min.js}"></script>
	<script th:src="@{/assets/vendors/counter/counterup.min.js}"></script>
	<script th:src="@{/assets/vendors/imagesloaded/imagesloaded.js}"></script>
	<script th:src="@{/assets/vendors/masonry/masonry.js}"></script>
	<script th:src="@{/assets/vendors/masonry/filter.js}"></script>
	<script th:src="@{/assets/vendors/owl-carousel/owl.carousel.js}"></script>
	<script th:src="@{/assets/js/functions.js}"></script>
	<script th:src="@{/assets/js/contact.js}"></script>
	<script th:src='@{/assets/vendors/switcher/switcher.js}'></script>
	<script th:src="@{https://kit.fontawesome.com/a1e04d9f7f.js}" crossorigin="anonymous"></script>
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			const openPopupSpans = document.querySelectorAll(".open-popup-span");
			const closePopupButtons = document.querySelectorAll(".close-popup-button");

			openPopupSpans.forEach(function (span) {
				span.addEventListener("click", function () {
					const popupId = span.nextElementSibling.querySelector(".custom-popup").id;
					const popup = document.getElementById(popupId);
					popup.style.display = "flex";
				});
			});

			closePopupButtons.forEach(function (button) {
				button.addEventListener("click", function () {
					const popupId = event.target.getAttribute("data-popup");
					const popup = document.getElementById(popupId);

					const video = popup.querySelector("video");
					if (video) {
						video.pause();
						video.currentTime = 0;
					}
					popup.style.display = "none";
				});
			});
		});
	</script>

</body>

</html>
