<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" th:href="@{/css/quizform.css}">
    <script th:src="@{https://kit.fontawesome.com/a1e04d9f7f.js}" crossorigin="anonymous"></script>

</head>

<body>

    <div class="row header">
        <div class="back">

        </div>
        <div class="menu-logo">
            <a><img th:src="@{/assets/images/favicon.png}" alt=""></a>
        </div>
        <div class="quiz-description">

        </div>
    </div>
    <div class="container text-center quiz-container">
        <form th:action="@{'/quiz/submit?qrpid=' + ${qrpid}}" method="post">
            <div class="column">

                <div class="row headerstart">

                </div>

                <div class="row mainbody" id="ajaxquiz">

                    <div class="workspace">
                        <th:block th:each="questionrp : ${quizreport.getQuestionreport()}">
                            <div class="quizspace question">

                                <div class="status">
                                    <h3 th:text="'Question' + ${questionrp.qorder}">Question</h3>

                                    <div class="checkbox-custom">
                                        <label th:for="'cb' + ${questionrp.id}" class="flag-item">
                                            <input type="checkbox" class="flagcheckbox" th:id="'cb' + ${questionrp.id}"
                                                name="flagquestion" th:value="${questionrp.id}">
                                            <p class="funcheck"><i class="fa-regular fa-flag"
                                                    style="color: #f12727;"></i>flag question</p>
                                            <p class="fcheck"><i class="fa-solid fa-flag"
                                                    style="color: #ff1a1a;"></i>remove flag</p>
                                        </label>
                                    </div>


                                </div>

                                <div class="question-record">
                                    <div class="questionform">
                                        <p th:text="${questionrp.question.getQuestioncontent()}">This is the question
                                            for </p>

                                    </div>

                                    <div class="answerform">
                                        <ul>

                                            <th:block th:each="answerrp : ${questionrp.getAnswerreports()}">
                                                <li class="answer">
                                                    <input type="checkbox" th:name="'q'+${questionrp.id} "
                                                        th:value="${answerrp.id}" th:id="${answerrp.answer.answerId}">
                                                    <p th:text="${answerrp.getAnswer().getContent()}">this is a answer
                                                        this is a swer</p>
                                                </li>
                                                </th>

                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </th:block>
                    </div>

                    <div class="timeline">
                        <div class="countdown">
                            <span id="timer"
                                th:data-default-time="${quizreport.quiz.time}">timer</span>
                        </div>
                        <div class="notice">

                        </div>
                        <button type="submit" class="submitbutton">Submit</button>
                    </div>

                </div>

            </div>
        </form>

    </div>

    <div class="overlay" id="overlay"></div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Đặt mã JavaScript ở đây để chắc chắn rằng nó thực thi sau khi tài liệu đã được nạp
            var countdownTime;

            // Kiểm tra xem có giá trị thời gian còn lại được lưu trong localStorage không
            var storedTime = localStorage.getItem('remainingTime');
            if (storedTime !== null) {
                countdownTime = parseInt(storedTime);
            } else {
                // Lấy thời gian mặc định từ thẻ <span> với id "timer"
                var timerDisplay = document.getElementById("timer");
                var defaultTime = parseInt(timerDisplay.getAttribute("data-default-time")) * 60;
                countdownTime = defaultTime;
                console.log(countdownTime);
            }

            var timerDisplay = document.getElementById("timer");

            var countdownInterval = setInterval(function () {
                if (countdownTime <= 0) {
                    clearInterval(countdownInterval);
                    document.querySelector(".submitbutton").click();
                } else {
                    var minutes = Math.floor(countdownTime / 60);
                    var seconds = countdownTime % 60;
                    var displayText = (minutes < 10 ? '0' : '') + minutes + ':' + (seconds < 10 ? '0' : '') + seconds;
                    timerDisplay.textContent = displayText;
                    countdownTime--;
                    localStorage.setItem('remainingTime', countdownTime);
                }
            }, 1000);

            var answerCheckboxes = document.querySelectorAll('input[type="checkbox"]');
            var flagCheckboxes = document.querySelectorAll('input.flagcheckbox');

            answerCheckboxes.forEach(function (checkbox) {
                checkbox.addEventListener('change', function () {
                    var answerId = checkbox.getAttribute("id");
                    localStorage.setItem(answerId, checkbox.checked);
                });
            });

            flagCheckboxes.forEach(function (checkbox) {
                checkbox.addEventListener('change', function () {
                    var flagId = checkbox.getAttribute("id");
                    localStorage.setItem('flag-' + flagId, checkbox.checked);
                });
            });

            window.addEventListener('load', function () {
                answerCheckboxes.forEach(function (checkbox) {
                    var checkboxId = checkbox.id;
                    var storedValue = localStorage.getItem(checkboxId);
                    if (storedValue !== null) {
                        checkbox.checked = (storedValue === 'true');
                    }
                });

                flagCheckboxes.forEach(function (checkbox) {
                    var flagId = 'flag-' + checkbox.id;
                    var storedValue = localStorage.getItem(flagId);
                    if (storedValue !== null) {
                        checkbox.checked = (storedValue === 'true');
                    }
                });
            });
        });

    </script>



</body>

</html>