<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Video - Easy Tutorials</title>
    <link rel="stylesheet" th:href="@{/css/stylecoursedetail.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/47f71e79b1.js" crossorigin="anonymous"></script>
</head>

<body>
<div id="main">
    <div id="header">
        <ul id="nav-left">
            <li>
                <a th:href="@{/home}">Home</a>
            </li>
            <li>
                <a th:text="${course.getCoursename()}"></a>
            </li>
            <!--
            <li>
                <a th:text="${user.fullName}"></a>
            </li>
            -->
        </ul>
        <ul id="nav-right">
            <li>
                <a href="#">Progress</a>
            </li>
            <li>
                <a href="#">My Certificates</a>
            </li>
        </ul>
    </div>
    <hr>
    <div class="container play-container">
        <div class="row">
            <div class="play-video">
                <video controls autoplay id="myVideo" th:data-content-id ="${coursecontent.getContentId()}">
                    <source  th:src="@{${coursecontent.getLinkvideo()}}" type="video/mp4">
                </video>
                <h3 th:text="${coursecontent.getContenttitle()}"></h3>
                <hr>
                <div class="publisher">
                    <img th:src="@{${course.getCourseowner().getUser().getAvatar()}}">
                    <div>
                        <a href="">
                            <p th:text="${course.getCourseowner().getUser().getFullname()}"></p>
                        </a>
                        <span>INSTRUCTOR</span>
                    </div>
                </div>
                <hr>
                <div class="tabs">
                    <div class="tab-item active">
                        <h4>Overview</h4>
                    </div>
                    <div class="tab-item active">
                        <h4>Q&As</h4>
                    </div>
                    <div class="tab-item active">
                        <h4>
                            Feedbacks
                        </h4>
                    </div>
                    <div class="tab-item active">
                        <h4>
                            Voting Stars
                        </h4>
                    </div>
                    <div class="line"></div>
                </div>
                <hr>
            </div>
            <div class="right-sidebar">
            
                <th:block th:each="section : ${course.getCoursesectionSet()}">
                    <div class="contentBx">
                        <div class="label" th:text="${section.getSectiontitle()}"></div>
                        <th:block th:each="content : ${section.getCoursecontents()}">
                            <div class="content">
                                <ul class="subnav">
                                    <li><input type="checkbox" class="btncheckbox" th:data-content-id ="${content.getContentId()}"><a
                                            th:href="@{/coursecontent/mycourse/{id}(id=${course.getCourseid()}, contentId=${content.getContentId()})}"
                                            th:text="${content.getContenttitle()}"></a></li>
                                </ul>
                            </div>
                        </th:block>
                        <th:block th:if="${section.quizSet!=null}">
                        <div class="content">
                                <div class="subnav">
                                    <ul class="subnav">
                                        <li><a th:href="@{'/quiz/reviewq?quizid=' + ${section.quizSet.quizid}}" th:text="${section.quizSet.quizcontent}"></a></li>
                                    </ul>
                                </div>
                        </div>
                    </th:block>

                    </div>

                    
                </th:block>
                
            </div>
        </div>
    </div>
</div>
<script src="/js/checkVideo.js" defer></script>
<script src="/js/voting.js" defer></script>
<script>
    let popup1 = document.getElementById("app1");
        let popup2 = document.getElementById("app");

        function openPopup() {
            popup2.classList.add("open-popup");
            popup1.classList.remove("open-popup");
        }

        function closePopup() {
            popup1.classList.add("open-popup");
            popup2.classList.remove("open-popup");
        }
</script>
<script>
        const accordion = document.getElementsByClassName('contentBx');
        for (i = 0; i < accordion.length; i++) {
            accordion[i].addEventListener('click', function() {
                this.classList.toggle('active')
            })
        }

        const $ = document.querySelector.bind(document);
        const $$ = document.querySelectorAll.bind(document);

        const tabs = $$(".tab-item");
        const panes = $$(".tab-pane");

        const tabActive = $(".tab-item.active");
        const line = $(".tabs .line");

        // SonDN fixed - Active size wrong size on first load.
        // Original post: https://www.facebook.com/groups/649972919142215/?multi_permalinks=1175881616551340
        requestIdleCallback(function() {
            line.style.left = tabActive.offsetLeft + "px";
            line.style.width = tabActive.offsetWidth + "px";
        });

        tabs.forEach((tab, index) => {
            const pane = panes[index];

            tab.onclick = function() {
                $(".tab-item.active").classList.remove("active");
                $(".tab-pane.active").classList.remove("active");

                line.style.left = this.offsetLeft + "px";
                line.style.width = this.offsetWidth + "px";

                this.classList.add("active");
                pane.classList.add("active");
            };
        });
        tabs.forEach((tab, index) => {
            const pane = panes[index];

            tab.onclick = function() {
                $(".tab-item.active").classList.remove("active");
                $(".tab-pane.active").classList.remove("active");

                line.style.left = this.offsetLeft + "px";
                line.style.width = this.offsetWidth + "px";

                this.classList.add("active");
                pane.classList.add("active");
            };
        });

        fetch('/feedback/rating')
    .then(response => response.json())
    .then(data => {
        let total_rating = 0;
        let total_star = 0;

        const ratings = Object.keys(data).map(star => ({
            star: parseInt(star),
            count: data[star]
        }));

        ratings.forEach(rating => {
            total_rating += rating.count;
            total_star += (rating.star * rating.count);
        });

        ratings.forEach(rating => {
            let rating_progress = `
                <div class="rating_progress-value">
                    <p>${rating.star} <span class="star">&#9733;</span></p>
                    <div class="progress">
                        <div class="bar" style="width: ${(rating.count/total_rating) * 100}%"></div>
                    </div>
                    <p>${rating.count.toLocaleString()}</p>
                </div>
            `;
            document.querySelector('.rating_progress').innerHTML += rating_progress;
        });

        document.querySelector('.rating_average h1').innerHTML = (total_star / total_rating).toFixed(1);
        document.querySelector('.rating_average p').innerHTML = total_rating;
        document.querySelector('.star-inner').style.width = (((total_star / total_rating).toFixed(1) / 5) * 100) + "%";
    });

        var field = document.querySelector('textarea');
        var backUp = field.getAttribute('placeholder');
        var btn = document.querySelector('.btn');
        var clear = document.getElementById('clear');
        var clear1 = document.getElementById('clear1');
        field.onfocus = function() {
            this.setAttribute('placeholder', '');
            this.style.borderColor = '#333';
            btn.style.display = 'block';
        }
        field.onblur = function() {
            this.setAttribute('placeholder', backUp);
            this.style.borderColor = '#aaa'
        }
        clear.addEventListener('click', function(e) {
            e.preventDefault();
            btn.style.display = 'none';
            field.value = '';
        })
        clear1.addEventListener('click', function(e) {
            e.preventDefault();
            btn.style.display = 'none';
            field.value = '';
        })
</script>

</body>

</html>