<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play Video - Easy Tutorials</title>
    <link rel="stylesheet" th:href="@{/css/stylecoursedetail.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/47f71e79b1.js" crossorigin="anonymous"></script>
</head>

<body>
<div id="main">
    <div id="header">
        <ul id="nav-left">
            <li>
                <a th:href="@{/home}">Home</a>
            </li>
            <li>
                <a th:text="${course.getCoursename()}"></a>
            </li>
            <!--
            <li>
                <a th:text="${user.fullName}"></a>
            </li>
            -->
        </ul>
        <ul id="nav-right">
            <li>
                <a href="#">Progress: <span th:text="${progress}"></span><span>%</span></a>
            </li>
            <th:block th:if="${progress == 100 && check == true}">
                <li>
                    <a th:href="@{'http://localhost:8080/certificate/getcertificate?enroll=' + ${enroll.getEnrollid()}}">My Certificates</a>
                </li>
            </th:block>

        </ul>
    </div>
    <hr>
    <div class="container play-container">
        <div class="row">
            <div class="play-video">
                <video controls autoplay id="myVideo" th:data-content-id ="${coursecontent.getContentId()}">
                    <source  th:src="@{${coursecontent.getLinkvideo()}}" type="video/mp4">
                </video>
                <h3 th:text="${coursecontent.getContenttitle()}"></h3>
                <hr>
                <div class="publisher">
                    <img th:src="@{${course.getCourseowner().getUser().getAvatar()}}">
                    <div>
                        <a href="">
                            <p th:text="${course.getCourseowner().getUser().getFullname()}"></p>
                        </a>
                        <span>INSTRUCTOR</span>
                    </div>
                </div>
                <hr>
                <div class="tabs">
                    <div class="tab-item active">
                        <h4>Overview</h4>
                    </div>
                    <div class="tab-item active">
                        <h4>Q&As</h4>
                    </div>
                    <div class="tab-item active">
                        <h4>
                            Feedbacks
                        </h4>
                    </div>
                    <div class="tab-item active">
                        <h4>
                            Voting Stars
                        </h4>
                    </div>
                    <div class="line"></div>
                </div>
                <hr>
                <div class="tab-content">
                    <div class="tab-pane active">
                        <h2 th:text="${course.getDescription()}"></h2>
                    </div>

                    <div class="tab-pane">
                        <th:block th:each="cmtparent : ${parentComment}" th:if="${subComment == null}">
                            
                            <div class="old-comment">
                                
                                <div>
                                    
                                    <h3 th:text="${cmtparent.getUser().getFullname()}"></h3>
                                    <span th:text="${cmtparent.getPostdate()}"></span>
                                    <a th:href="@{/coursecontent/mycourse/{id}(id=${course.getCourseid()}, contentId=${cmtparent.getCoursecontent().getContentId()})}" th:text="${cmtparent.getCoursecontent().getContenttitle()}"></a>
                                    
                                    <th:block th:if="${cmtparent.status == false}">
                                        <p th:text="${cmtparent.getContent()}"></p>
                                    </th:block>
                                    <th:block th:if="${cmtparent.status == true}">
                                        <p style="color: grey; font-style: italic">This comment was hide because of User Policies</p>
                                    </th:block>
                                </div>
                                <div class="comment">
                                    <a th:href="@{/coursecontent/mycourse/{id}(id=${course.getCourseid()}, contentId=${coursecontent.getContentId()}, parentId=${cmtparent.getCommentid()})}"><span>&nbsp;</span><i
                                            class="fa-regular fa-comment fa-2xl"></i></a>
                                </div>
                                <br>
                            </div>
                        </th:block >

                        <th:block th:if="${subComment == null}">
                            <div class="container">
                                <form th:action="@{/disscuss/savecomment(userId=${user.userId}, contentId=${coursecontent.getContentId()}, courseID = ${course.getCourseid()})}" method="post" >
                                    <textarea name="content" placeholder="Add your comment"></textarea>
                                    <div class="btn">
                                        <input type="submit" value="Comment">
                                        <button id="clear">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </th:block>
                        <th:block th:if="${parentCmtOne != null}">
                            <div class="back-all-comment-box">
                                <a th:href="@{/coursecontent/mycourse/{id}(id=${course.getCourseid()}, contentId=${coursecontent.getContentId()})}">Back to All comment</a>
                            </div>
                            <div class="old-comment" id="parent-cmt">
                                <img th:src="@{${parentCmtOne.getUser().getAvatar()}}">
                                <div>
                                    <h3 th:text="${parentCmtOne.getUser().getFullname()}"></h3>
                                    <span th:text="${parentCmtOne.getPostdate()}"></span>
                                    <th:block th:if="${parentCmtOne.status == false}">
                                        <p th:text="${parentCmtOne.getContent()}"></p>
                                    </th:block>
                                    <th:block th:if="${parentCmtOne.status == true}">
                                        <p style="color: grey; font-style: italic">This comment was hide because of User Policies</p>
                                    </th:block>
                                </div>
                            </div>
                            <div class="infor-parent-comment">
                                <ul class="cmt-left">
                                    <p>Replies</p>
                                </ul>
                                <ul class="cmt-right">
                                    <p>Follow replies</p>
                                </ul>
                            </div>

                        </th:block>


                        <br>
                        <th:block th:each="subparent : ${subComment}" th:if="${subComment != null}">
                            <div class="old-comment">
                                <img th:src="@{${subparent.getUser().getAvatar()}}">
                                <div>
                                    <h3 th:text="${subparent.getUser().getFullname()}"></h3>
                                    <span th:text="${subparent.getPostdate()}"></span>
                                    <th:block th:if="${subparent.isStatus() == false}">
                                        <p th:text="${subparent.getContent()}"></p>
                                    </th:block>
                                    <th:block th:if="${subparent.isStatus() == true}">
                                        <p style="color: grey; font-style: italic">This comment was hide because of User Policies</p>
                                    </th:block>
                                </div>
                            </div>
                        </th:block>
                        <!--
                        (userId=${user.userId}, parentID=${parentCmtOne.getCommentid()}, courseID = ${course.getCourseid()})
                         -->
                        <th:block th:if="${subComment != null}">
                                <div class="container">
                                    <form th:action="@{/disscuss/savecomment(userId=${user.userId}, parentID=${parentCmtOne.getCommentid()}, courseID = ${course.getCourseid()})}" method="post" >
                                        <textarea name="content" placeholder="Add your comment"></textarea>
                                        <div class="btn">
                                            <input type="submit" value="Comment">
                                            <button id="clear1">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                        </th:block>
                    </div>
                    <div class="tab-pane">
                        <div class="app">
                            <div class="rating">
                                <div class="rating_average">
                                    <h1></h1>
                                    <div class="star-outer">
                                        <div class="star-inner"></div>
                                    </div>
                                    <p></p>
                                </div>
                                <div class="rating_progress">

                                </div>
                            </div>
                        </div>
                        <br>

                        <th:block th:each="feedback : ${course.getFeedbackdetailSet()}">

                            <div class="old-comment">
                                <img th:src="@{${feedback.getUser().getAvatar()}}">
                                <div>
                                    <h3 th:text="${feedback.getUser().getFullname()}"></h3>
                                    <div class="star-outer-feedback">
                                        <div class="star-inner-feedback" th:style="'width: ' + ((${feedback.getFbrating()} / 5) * 100) + '%'"></div>
                                    </div>
                                    <span th:text="${feedback.getFeedbackdate()}"></span>
                                    <p th:text="${feedback.getFeedbackcontent()}"></p>
                                </div>

                            </div>
                            <hr>
                        </th:block>
                    </div>


                </div>

                <th:block th:if="${userFeedback==null}">
                    <div class="tab-pane">
                        <div class="app">
                            <div class="wrapper">
                                <h3>Your rating stars</h3>
                                <form th:action="@{/feedback/saveFeedback(userId=${user.userId}, courseID = ${course.getCourseid()})}" method="post">
                                    <div class="rating-voting">
                                        <input type="number" name="rating" hidden>
                                        <i class='fa-solid fa-star'></i>
                                        <i class='fa-solid fa-star'></i>
                                        <i class='fa-solid fa-star'></i>
                                        <i class='fa-solid fa-star'></i>
                                        <i class='fa-solid fa-star'></i>
                                    </div>
                                    <textarea name="opinion" cols="30" rows="5" class="opinionEdit" placeholder="Your opinion for course"></textarea>
                                    <div class="btn-group">
                                        <button type="submit" class="btn1 submit">Submit</button>
                                        <button class="btn1 cancel">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </th:block>
                <th:block th:if="${userFeedback!=null}">
                    <div class="tab-pane">
                        <div class="app" id="app">
                            <div class="wrapper">
                                <h3>Your rating stars</h3>
                                <div class="rating-voting">
                                <input type="number" name="rating" id="rating" th:value="${userFeedback.getFbrating()}" hidden>
                                <th:block th:each="i: ${#numbers.sequence(1, 5)}">
                                        <th:block th:if="${i <= userFeedback.getFbrating()}">
                                            <i class='fa-solid fa-star active'></i>
                                        </th:block>
                                    <th:block th:if="${i > userFeedback.getFbrating()}">
                                        <i class='fa-solid fa-star'></i>
                                    </th:block>
                                </th:block>
                                </div>
                                <th:block th:if="${userFeedback.getFeedbackcontent()==null}">
                                    <textarea name="opinionEdit" cols="30" rows="5"></textarea>
                                </th:block>
                                <th:block th:if="${userFeedback.getFeedbackcontent()!=null}">
                                    <textarea name="opinionEdit" cols="30" rows="5" class="opinionEditTemp" th:value="${userFeedback.getFeedbackcontent()}" th:text="${userFeedback.getFeedbackcontent()}" readonly></textarea>
                                </th:block>
                                <div class="btn-group">
                                    <button type="submit" class="btn1 edit" onclick="openPopup()">Edit</button>
                                </div>
                            </div>
                        </div>
                        <div class="app open-popup" id="app1">
                            <div class="wrapper">
                                <h3>Your rating stars</h3>
                                <form th:action="@{/feedback/updateFeedback(userId=${user.userId}, courseID = ${course.getCourseid()})}" method="post">
                                <div class="rating-voting2" id="edit">
                                    <input type="number" name="ratingExist" id="ratingExist" th:value="${userFeedback.getFbrating()}" hidden>
                                    <i class='fa-solid fa-star'></i>
                                    <i class='fa-solid fa-star'></i>
                                    <i class='fa-solid fa-star'></i>
                                    <i class='fa-solid fa-star'></i>
                                    <i class='fa-solid fa-star'></i>
                                </div>
                                    <th:block th:if="${userFeedback.getFeedbackcontent()==null}">
                                        <textarea name="opinionEdit" class="opinionEdit" cols="30" rows="5" th:value="" placeholder="You don't leave any opinion"></textarea>
                                    </th:block>
                                    <th:block th:if="${userFeedback.getFeedbackcontent()!=null}">
                                        <textarea name="opinionEdit" class="opinionEdit" cols="30" rows="5" th:value="${userFeedback.getFeedbackcontent()}" th:text="${userFeedback.getFeedbackcontent()}"></textarea>
                                    </th:block>
                                <div class="btn-group">
                                    <button type="submit" class="btn1 submit">Save changes</button>
                                    <button class="btn1 cancel" onclick="closePopup()">Cancel</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
            <div class="right-sidebar">
            
                <th:block th:each="section : ${sectiondetails}">
                    <div class="contentBx">
                        <div class="label" th:text="${section.getCoursesection().getSectiontitle()}"></div>
                        <th:block th:each="content : ${section.getContentStatusDetailSet()}">
                            <div class="content">
                                <ul class="subnav">
                                    <li><input type="checkbox" class="btncheckbox" th:checked="${content.isStatus()}" th:data-content-id ="${content.getCoursecontent().getContentId()}"><a
                                            th:href="@{/coursecontent/mycourse/{id}(id=${course.getCourseid()}, contentId=${content.getCoursecontent().getContentId()})}"
                                            th:text="${content.getCoursecontent().getContenttitle()}"></a></li>
                                </ul>
                            </div>
                        </th:block>
                        <th:block th:if="${section.getCoursesection().quizSet!=null}">
                        <div class="content">
                                <div class="subnav">
                                    <ul class="subnav">
                                        <li><a th:href="@{'/quiz/reviewq?quizid=' + ${section.getCoursesection().quizSet.quizid}}" th:text="${section.getCoursesection().quizSet.quizcontent}"></a></li>
                                    </ul>
                                </div>
                        </div>
                    </th:block>
                    </div>
                </th:block>
                
            </div>
        </div>
    </div>
</div>
<meta th:name="_csrf" th:content="${_csrf.token}"/>
<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
<script src="/js/checkVideo.js" defer></script>
<script src="/js/voting.js" defer></script>
<script>
    let popup1 = document.getElementById("app1");
        let popup2 = document.getElementById("app");

        function openPopup() {
            popup2.classList.add("open-popup");
            popup1.classList.remove("open-popup");
        }

        function closePopup() {
            popup1.classList.add("open-popup");
            popup2.classList.remove("open-popup");
        }
</script>
<script>
        const accordion = document.getElementsByClassName('contentBx');
        for (i = 0; i < accordion.length; i++) {
            accordion[i].addEventListener('click', function() {
                this.classList.toggle('active')
            })
        }

        const $ = document.querySelector.bind(document);
        const $$ = document.querySelectorAll.bind(document);

        const tabs = $$(".tab-item");
        const panes = $$(".tab-pane");

        const tabActive = $(".tab-item.active");
        const line = $(".tabs .line");

        // SonDN fixed - Active size wrong size on first load.
        // Original post: https://www.facebook.com/groups/649972919142215/?multi_permalinks=1175881616551340
        requestIdleCallback(function() {
            line.style.left = tabActive.offsetLeft + "px";
            line.style.width = tabActive.offsetWidth + "px";
        });

        tabs.forEach((tab, index) => {
            const pane = panes[index];

            tab.onclick = function() {
                $(".tab-item.active").classList.remove("active");
                $(".tab-pane.active").classList.remove("active");

                line.style.left = this.offsetLeft + "px";
                line.style.width = this.offsetWidth + "px";

                this.classList.add("active");
                pane.classList.add("active");
            };
        });
        tabs.forEach((tab, index) => {
            const pane = panes[index];

            tab.onclick = function() {
                $(".tab-item.active").classList.remove("active");
                $(".tab-pane.active").classList.remove("active");

                line.style.left = this.offsetLeft + "px";
                line.style.width = this.offsetWidth + "px";

                this.classList.add("active");
                pane.classList.add("active");
            };
        });

        fetch('/feedback/rating')
    .then(response => response.json())
    .then(data => {
        let total_rating = 0;
        let total_star = 0;

        const ratings = Object.keys(data).map(star => ({
            star: parseInt(star),
            count: data[star]
        }));

        ratings.forEach(rating => {
            total_rating += rating.count;
            total_star += (rating.star * rating.count);
        });
        if(total_rating!=0){
        ratings.forEach(rating => {
            let rating_progress = `
                <div class="rating_progress-value">
                    <p>${rating.star} <span class="star">&#9733;</span></p>
                    <div class="progress">
                        <div class="bar" style="width: ${(rating.count/total_rating) * 100}%"></div>
                    </div>
                    <p>${rating.count.toLocaleString()}</p>
                </div>
            `;
            document.querySelector('.rating_progress').innerHTML += rating_progress;
        });
        }
        else{
        ratings.forEach(rating => {
            let rating_progress = `
                <div class="rating_progress-value">
                    <p>${rating.star} <span class="star">&#9733;</span></p>
                    <div class="progress">
                        <div class="bar" style="width: 0%"></div>
                    </div>
                    <p>${rating.count.toLocaleString()}</p>
                </div>
            `;
            document.querySelector('.rating_progress').innerHTML += rating_progress;
        });
        }



        if(total_rating !=0){
            document.querySelector('.rating_average h1').innerHTML = (total_star / total_rating).toFixed(1);
            document.querySelector('.rating_average p').innerHTML = total_rating;
        document.querySelector('.star-inner').style.width = (((total_star / total_rating).toFixed(1) / 5) * 100) + "%";
        }
        else{
        document.querySelector('.rating_average h1').innerHTML = 0;
        document.querySelector('.rating_average p').innerHTML = 0;
        document.querySelector('.star-inner').style.width = 0+ "%";
        }

    });

        var field = document.querySelector('textarea');
        var backUp = field.getAttribute('placeholder');
        var btn = document.querySelector('.btn');
        var clear = document.getElementById('clear');
        var clear1 = document.getElementById('clear1');
        field.onfocus = function() {
            this.setAttribute('placeholder', '');
            this.style.borderColor = '#333';
            btn.style.display = 'block';
        }
        field.onblur = function() {
            this.setAttribute('placeholder', backUp);
            this.style.borderColor = '#aaa'
        }
        clear.addEventListener('click', function(e) {
            e.preventDefault();
            btn.style.display = 'none';
            field.value = '';
        })
        clear1.addEventListener('click', function(e) {
            e.preventDefault();
            btn.style.display = 'none';
            field.value = '';
        })
</script>

</body>

</html>