<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' th:href='@{/css/paypal.css}'>
    <script src='main.js'></script>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo"><a href="http://localhost:8080/home"><img class="edu-logo" th:src="@{/assets/images/favicon.png}"/></a></div>
            <div class="cancel-btn"><a th:href="@{'http://localhost:8080/courseDetail/' + ${course.courseid}}">Hủy</a></div>
        </div>
        <div class="bodypart">
            <div class="payment">
                <div class="pay-title">Thanh toán</div>
                <div class="pay-method">Phương thức thanh toán</div>
                
                <div class="logo-paypal">
                    <div><input type="radio" checked style="width: 20px; height: 20px;"></div>
                    <img src="https://www.udemy.com/staticx/udemy/images/v9/hpp-paypal.svg" alt="Paypal" width="77" height="32" class="payment-method-label--payment-method--label--brand-icon--Cpsph logo" loading="eager">
                    <p class="logo-title">PayPal</p>
                </div>
                <p style="font-size: 11px;">Hiện tại chúng tôi chỉ hỗ trợ phương thức thanh toán qua Paypal</p>
                <div class="pay-method pay-course">Thông tin đặt hàng</div>
                <div class="payment-info">
                    <div class="course-info"><img class="course-img" src="assets/images/courses/pic1.jpg" alt=""><p th:text="${course.coursename}"></p></div>
                    <div th:text="${course.courseprice}+' $'"></div>
                </div>
            </div>
            <div class="comfirm">
                <div class="summary">
                    <h3 class="summary-title">Tóm tắt</h3>
                    <div class="summary-item">
                        <p class="des-text">Giá gốc</p>
                        <p class="show-money" th:text="${course.courseprice}+'$'">xxx$</p>
                    </div>
                    <div class="summary-item">
                        <p class="des-text">Ưu đãi</p>
                        <p class="show-money">0$</p>
                    </div>
                    
                </div>
                <div class="pay-control">
                    <div class="summary-item">
                        <p class="des-text" style="font-weight: 700;">Tổng</p>
                        <p class="show-money" style="font-weight: 700;" th:text="${course.courseprice} + '$'">xxx$</p>
                    </div>
                    <form method="post" th:action="@{'payment/pay?courseid='+${course.courseid}}" class="summary-item">
                        <input type="text" th:value="${course.courseprice}" name="price" style="display: none;"/>
                        <button type="submit" class="pay-btn" ><p style="font-family: Arial, Helvetica, sans-serif; font-weight: 600; color: rgb(252, 252, 252); font-size: 16px;"> Tiếp tục </p></button>
                    </form>
                </div>
                
            </div>
        </div>
        
    </div>

    
</body>

</html>