<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script th:src="@{https://kit.fontawesome.com/a1e04d9f7f.js}" crossorigin="anonymous"></script>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .loading {
            width: 100px;
            height: 100px;
            border: 10px solid #ccc;
            border-top: 10px solid #3498db;
            border-radius: 50%;
            animation: spin 2s linear infinite;
        }
        .verify {
            display: none;
            font-size: 24px;
            color: #3498db;
            margin-top: 20px;
        }

        .verify-icon{
            font-size: 80px;
        }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
</head>
<body>
    <div class="loading"></div>
    <div class="verify" id="verify-text"><a th:href="@{'http://localhost:8080/coursecontent/mycourse/'+${courseid}}" id="redirect-link"><i class="fa-solid fa-circle-check verify-icon" style="color: #2afe38;"></i></a></div>
    <script>
        setTimeout(function() {
            document.querySelector('.loading').style.display = 'none';
            document.querySelector('#verify-text').style.display = 'block';
            setTimeout(function() {
                document.querySelector('#redirect-link').click();
            }, 1000);
        }, 2000);
    </script>
    
    
	
</body>
</html>