<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{client-layout}">

<th:block layout:fragment="content">
	<th:block layout:insert="~{fragments/client/header}"/>
	<th:block>
		<!-- Content -->
		<div class="page-content bg-white">
			<!-- inner page banner -->
			<div class="page-banner ovbl-dark" style="background-image:url(/assets/images/banner/banner1.jpg);">
				<div class="container">
					<div class="page-banner-entry">
						<h1 class="text-white">Profile</h1>
					</div>
				</div>
			</div>
			<!-- Breadcrumb row -->
			<div class="breadcrumb-row">
				<div class="container">
					<ul class="list-inline">
						<li><a href="/home">Home</a></li>
						<li>Profile</li>
					</ul>
				</div>
			</div>
			<!-- Breadcrumb row END -->
			<!-- inner page banner END -->
			<div class="content-block">
				<!-- About Us -->
				<div class="section-area section-sp1">
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-md-4 col-sm-12 m-b30">
								<div class="profile-bx text-center">
									<div class="user-profile-thumb">
										<th:block th:if="${#ctx.session.user.avatar != null}">
											<img th:src="${#ctx.session.user.avatar}" alt=""/>
										</th:block>
										<th:block th:if="${#ctx.session.user.avatar == null}">
											<img src="/assets/images/final-avt-default.jpg" alt=""/>
										</th:block>
									</div>
									<div class="profile-info">
										<h4 th:text="${#ctx.session.user.fullName}"></h4>
										<span th:text="${#ctx.session.user.email}"></span>
									</div>
									<div class="profile-social">
										<ul class="list-inline m-a0">
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
										</ul>
									</div>
									<div class="profile-tabnav">
										<ul class="nav nav-tabs">
<!--											<li class="nav-item">-->
<!--												<a class="nav-link active" data-toggle="tab" href="#courses"><i class="ti-book"></i>Courses</a>-->
<!--											</li>-->
											<li class="nav-item">
												<a class="nav-link" data-toggle="tab" href="#edit-profile"><i class="ti-pencil-alt"></i>Edit Profile</a>
											</li>
											<li class="nav-item">
												<a class="nav-link active" data-toggle="tab" href="#change-password"><i class="ti-lock"></i>Change Password</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" data-toggle="tab" href="#change-avatar"><i class="ti-bookmark-alt"></i>Change Avatar</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-9 col-md-8 col-sm-12 m-b30">
								<div class="profile-content-bx">
									<div class="tab-content">
										<div class="tab-pane" id="edit-profile">
											<div class="profile-head">
												<h3>Edit Profile</h3>
											</div>
											<form class="edit-profile" method="post" th:action="editProfile">
												<div class="">
													<div class="form-group row">
														<div class="col-12 col-sm-9 col-md-9 col-lg-10 ml-auto">
															<h3>1. Personal Details</h3>
														</div>
													</div>
													<div class="form-group row">
														<label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Full Name</label>
														<div class="col-12 col-sm-9 col-md-9 col-lg-7">
															<input class="form-control" name="fullname" type="text" th:value="${#ctx.session.user.fullName}">
														</div>
													</div>
													<div class="form-group row">
														<label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Email</label>
														<div class="col-12 col-sm-9 col-md-9 col-lg-7">
															<input class="form-control" name="email" type="text" th:value="${#ctx.session.user.email}" readonly>
														</div>
													</div>
													<div class="form-group row">
														<label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Date of birth</label>
														<div class="col-12 col-sm-9 col-md-9 col-lg-7">
															<th:block th:if="${error != null}">
																<div class="error-message" style="color: red" th:text="${error}"></div>
															</th:block>
															<input class="form-control" name="dob" type="date" th:value="${#temporals.format(#ctx.session.user.dob,'yyyy-MM-dd')}">
														</div>
													</div>


													<div class="form-group row">
														<label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Gender</label>
														<div class="col-12 col-sm-9 col-md-9 col-lg-7">
															<label class="radio-inline">
																<input type="radio" name="gender" value="male" th:checked="${#ctx.session.user.gender == true}"> Male
															</label>
															<label class="radio-inline">
																<input type="radio" name="gender" value="female" th:checked="${#ctx.session.user.gender == false}"> Female
															</label>
														</div>
													</div>
													
														<div class="form-group row" th:if="${#ctx.session.user.role == 'ROLE_COURSEOWNER'}">
															<label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">About me</label>
															<div class="col-12 col-sm-9 col-md-9 col-lg-7">
																<textarea class="form-control" name="aboutme" th:text="${aboutme}"></textarea>
															</div>
														</div>
													
													

													<div class="seperator"></div>

													<div class="form-group row">
														<div class="col-12 col-sm-9 col-md-9 col-lg-10 ml-auto">
															<h3>2. Address</h3>
														</div>
													</div>
													<div class="form-group row">
														<label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Address</label>
														<div class="col-12 col-sm-9 col-md-9 col-lg-7">
															<input class="form-control" type="text" name="address" th:value="${#ctx.session.user.address}">
														</div>
													</div>

													<div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>

													<div class="form-group row">
														<div class="col-12 col-sm-9 col-md-9 col-lg-10 ml-auto">
															<h3 class="m-form__section">3. Account</h3>
														</div>
													</div>

													<div class="form-group row">
														<label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Account type</label>
														<div class="col-12 col-sm-9 col-md-9 col-lg-7">
															<input class="form-control" type="text"
																   th:value="${#ctx.session.user.role == 'ROLE_MENTEE' ? 'Mentee'
															    : (#ctx.session.user.role == 'ROLE_ADMIN' ? 'Admin'
															    : (#ctx.session.user.role == 'ROLE_COURSEOWNER' ? 'Course Owner'
															    : 'Unknown'))}"
																   readonly>
														</div>
													</div>
													<div class="form-group row">
														<label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Register Date</label>
														<div class="col-12 col-sm-9 col-md-9 col-lg-7">
															<input class="form-control" type="text" th:value="${#temporals.format(#ctx.session.user.registerDob,'dd/MM/yyyy')}" readonly>
														</div>
													</div>
													<!--												<div class="form-group row">-->
													<!--													<label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Twitter</label>-->
													<!--													<div class="col-12 col-sm-9 col-md-9 col-lg-7">-->
													<!--														<input class="form-control" type="text" value="www.twitter.com">-->
													<!--													</div>-->
													<!--												</div>-->
													<!--												<div class="form-group row">-->
													<!--													<label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Instagram</label>-->
													<!--													<div class="col-12 col-sm-9 col-md-9 col-lg-7">-->
													<!--														<input class="form-control" type="text" value="www.instagram.com">-->
													<!--													</div>-->
													<!--												</div>-->
												</div>
												<div class="">
													<div class="">
														<div class="row">
															<div class="col-12 col-sm-3 col-md-3 col-lg-2">
															</div>
															<div class="col-12 col-sm-9 col-md-9 col-lg-7">
																<button type="submit" class="btn">Save changes</button>
															</div>
														</div>
													</div>
												</div>
											</form>
										</div>
										<div class="tab-pane active" id="change-password">
											<div class="profile-head">
												<h3>Change Password</h3>
											</div>
											<form class="edit-profile" id="editPassForm" method="post" th:action="changePassword">
												<div class="">
													<div class="form-group row">
														<div class="col-12 col-sm-8 col-md-8 col-lg-9 ml-auto">
															<h3>Password</h3>
														</div>
													</div>
													<div class="form-group row">
														<label class="col-12 col-sm-4 col-md-4 col-lg-3 col-form-label">Current Password</label>
														<div class="col-12 col-sm-8 col-md-8 col-lg-7">
															<input class="form-control" name="getopass" type="hidden" th:value="${#ctx.session.user.password}">
															<input class="form-control" name="opass" type="password" value="">
															<button type="button" class="toggle-password" data-show="false">Show</button>
														</div>
													</div>
													<div class="form-group row">
														<label class="col-12 col-sm-4 col-md-4 col-lg-3 col-form-label">New Password</label>
														<div class="col-12 col-sm-8 col-md-8 col-lg-7">
															<input class="form-control" name="npass" type="password" value="">
															<button type="button" class="toggle-password" data-show="false">Show</button>
														</div>
													</div>
													<div class="form-group row">
														<label class="col-12 col-sm-4 col-md-4 col-lg-3 col-form-label">Re Type New Password</label>
														<div class="col-12 col-sm-8 col-md-8 col-lg-7">
															<input class="form-control" name="rnpass" type="password" value="">
															<button type="button" class="toggle-password" data-show="false">Show</button>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-12 col-sm-4 col-md-4 col-lg-3">
													</div>
													<div th:if="${wrongPass != null}" th:text="${wrongPass}" style="color: red"></div>
													<div class="col-12 col-sm-8 col-md-8 col-lg-7">
														<button type="submit" class="btn">Save changes</button>
														<button type="reset" class="btn-secondry">Reset</button>
													</div>
												</div>

											</form>
										</div>
										<div class="tab-pane" id="change-avatar">
											<div class="profile-head">
												<h3>Change avatar</h3>
											</div>
											<form class="edit-profile" method="post" th:action="changeAvatar" enctype="multipart/form-data">
												<div class="">
													<div class="form-group row">
														<div class="col-12 col-sm-8 col-md-8 col-lg-9 ml-auto">
															<h3>Avatar</h3>
														</div>
													</div>
													<div class="form-group row">
														<label class="col-12 col-sm-4 col-md-4 col-lg-3 col-form-label">Image link</label>
														<div class="col-12 col-sm-8 col-md-8 col-lg-7">
															<img id="editImage" th:src="@{${image}}">
															<input class="form-control" name="avatar" type="file"
																   th:value="${#ctx.session.user.avatar}" onchange="preview()">

														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-12 col-sm-4 col-md-4 col-lg-3">
													</div>
													<div class="col-12 col-sm-8 col-md-8 col-lg-7">
														<button type="submit" class="btn">Save changes</button>
													</div>
												</div>

											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- contact area END -->
		</div>
		<!-- Content END-->
	</th:block>
	<th:block layout:insert="~{fragments/client/footer}"/>
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			const toggleButtons = document.querySelectorAll(".toggle-password");
			toggleButtons.forEach(function(button) {
				button.addEventListener("click", function() {
					const input = this.previousElementSibling;
					const show = this.getAttribute("data-show") === "false";

					if (show) {
						input.setAttribute("type", "text");
						this.setAttribute("data-show", "true");
						this.textContent = "Hide";
					} else {
						input.setAttribute("type", "password");
						this.setAttribute("data-show", "false");
						this.textContent = "Show";
					}
				});
			});
		});
	</script>
	<script type="text/javascript">
		function preview() {
			const selectedFile = event.target.files[0];
			if (selectedFile) {
				selectedFile.preview = URL.createObjectURL(selectedFile); // Tạo đường dẫn tạm thời cho ảnh
				console.log(selectedFile);
				$('#editImage').attr('src', selectedFile.preview).load(function () {
					$(this).width(); // this is how you get new width of image
				});
			}
		}
	</script>
</th:block>
</html>
