<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" type="text/css" th:href="@{/css/quizresult.css}">
    <script th:src="@{https://kit.fontawesome.com/a1e04d9f7f.js}" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src='main.js'></script>
</head>

<body>

        <div class="container">
            <div class="header">
                <div class="back" >
                    <a th:href="${back}"><i class="fa-solid fa-arrow-right fa-rotate-180 fa-xl"></i> BACK</a>
                </div>
                <div class="menu-logo">
                    <a><img th:src="@{/assets/images/favicon.png}" alt=""></a>
                </div>
<!--                <div class="quiz-review">-->
<!--                    <a th:href="${review}">REVIEW<i class="fa-solid fa-arrow-right fa-xl"></i></a>-->
<!--                </div>-->
            </div>
            <div class="resultpanel">
                <div class="lable">
                    <p style="font-size: 20;">Your result</p>
                </div>
                <div class="result">
                    <div class="counting">
                        <div class="celemet"><p>Not answer <i class="fa-regular fa-circle" style="color: #71888c;"></i>:<p th:text="${finalresult.notAnswerQuestion()}"></p></p></div>
                        <div class="celemet"><p>Wrong answer <i class="fa-solid fa-xmark" style="color: #de1212;"></i>:<p th:text="${finalresult.wrongAnswerQuestion()}"></p></p></div>
                        <div class="celemet"><p>Correct answer<i class="fa-solid fa-check" style="color: #4bdf49;"></i>:<p th:text="${finalresult.correctAnswerQuestion()}"></p></p></div>
                        
                        <div th:if="${finalresult.isPassed()}">
                            <div class="celemet">
                                <p>Status <i class="fa-solid fa-trophy" style="color: #f1f529;"></i>: <span style="color: #4bdf49;">Passed</span></p>
                            </div>
                        </div>
                        <div th:unless="${finalresult.isPassed()}">
                            <div class="celemet">
                                <p>Status <i class="fa-solid fa-trophy" style="color: #f1f529;"></i>: <span style="color: #de1212;">Fail</span></p>
                            </div>
                            <div class="notify" th:text="'You need to get ' + ${finalresult.quiz.passpoint} + '% or higher to pass this quiz'">

                            </div>
                        </div>

                    </div>

                    <div class="percent">
                        <div style="width: 90px;"> </div>
                        <div class="points" th:text="${finalresult.getFinalReults() + '%'}">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <script>
        localStorage.clear();
    </script>
</body>

</html>