<!DOCTYPE html>
<html lang="utf-8">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" th:href="@{/css/quizform.css}">
    <script th:src="@{https://kit.fontawesome.com/a1e04d9f7f.js}" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="row header">
        <div class="back" >
            <a th:href="${back}"><i class="fa-solid fa-arrow-right fa-rotate-180 fa-xl"></i> BACK</a>
        </div>
        <div class="menu-logo">
            <a><img th:src="@{/assets/images/favicon.png}" alt=""></a>
        </div>
        <div class="quiz-description">

        </div>
    </div>
    <div class="container text-center quiz-container">

        <div class="column">

            <div class="row headerstart">

            </div>

            <div class="row mainbody" id="ajaxquiz">

                <div class="workspace">
                    <th:block th:if="${lastreport != null}">
                        <th:block th:each="questionreport : ${lastreport.questionreport}">

                            <div class="quizspace question">
                                <div class="status">
                                    <h3 th:text="'Question' + ${questionreport.qorder}"></h3>

                                    <th:block th:if="${questionreport.getIsflag()==true}">
                                        <a href="#" class="getflag flag-ajax"
                                            th:data-question-id="${questionreport.id}"><i class="fa-solid fa-flag"
                                                style="color: #ea1a1a;"></i>flag</a>
                                    </th:block>
                                    <th:block th:unless="${questionreport.getIsflag()==true}">
                                        <a href="#" class="getflag flag-ajax"
                                            th:data-question-id="${questionreport.id}"><i class="fa-regular fa-flag"
                                                style="color: #dd3636;"></i>unflag</a>
                                    </th:block>

                                    <th:block th:if="${questionreport.getIscorrect()==true}">
                                        <div class="iscorrect"><i class="fa-solid fa-check fa-lg"
                                                style="color: #2dd769;"></i>Correct</div>
                                    </th:block>
                                    <th:block th:unless="${questionreport.getIscorrect()==true}">
                                        <div class="iscorrect"><i class="fa-solid fa-xmark fa-lg"
                                                style="color: #f22626;"></i></i>Uncorrect</div>
                                    </th:block>

                                </div>
                                <div class="question-record">
                                    <div class="questionform">
                                        <p th:text="${questionreport.question.questioncontent}">This is the question for
                                        </p>
                                    </div>

                                    <div class="answerform">
                                        <ul>
                                            <th:block th:each="answerreport : ${questionreport.answerreports}">
                                                <li class="answer">
                                                    <input type="checkbox" th:checked="${answerreport.selectreport}"
                                                        disabled>
                                                    <p th:text="${answerreport.answer.content}">this is an answer</p>
                                                </li>
                                                </th>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </th:block>
                    </th:block>
                    <th:block th:if="${lastreport.questionreport.size() == 0}">
                        <p>There is no record</p>
                    </th:block>
                </div>

                <div class="timeline">
                    <div class="countdown">

                    </div>
                    <div class="notice">

                    </div>
                    <!--Action for button -->
                    <a th:href="@{'/quiz/doquiz?qrpid=' + ${lastreport.myquizreportid} + '&qid=' + ${lastreport.quiz.quizid}}"
                        style="width: 25%;
                    height: 29px;
                    margin: 4px;"><button style="width: 100%; height: 100%;">Start new quiz</button></a>
                </div>

            </div>
          
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $(".getflag").click(function (event) {
                event.preventDefault();
                var questionId = $(this).data("question-id");

                // Lưu trữ tham chiếu đến thẻ <a> trong một biến
                var $currentAnchor = $(this);

                // Tạo yêu cầu Ajax để đánh dấu câu hỏi
                $.ajax({
                    type: "POST",
                    url: "http://localhost:8080/quiz/ajaxflag",
                    data: {
                        questionId: questionId
                    },
                    success: function (data) {
                        // Xử lý kết quả trả về từ máy chủ (nếu cần)


                        // Thay đổi nội dung của thẻ <a> cụ thể
                        $currentAnchor.html(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("Lỗi Ajax: " + errorThrown);
                        console.log("Trạng thái lỗi: " + textStatus);
                        console.log("Phản hồi lỗi: " + jqXHR.responseText);
                        alert("Error");
                    }
                });
            });
        });
    </script>

</body>

</html>