<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{client-layout}">

<th:block layout:fragment="content">
  <th:block layout:insert="~{fragments/client/header}"/>
  <th:block>
    <!-- Content -->
    <div class="page-content bg-white">
      <!-- inner page banner -->
      <div class="page-banner ovbl-dark" style="background-image:url(/assets/images/banner/banner1.jpg);">
        <div class="container">
          <div class="page-banner-entry">
            <h1 class="text-white">Profile</h1>
          </div>
        </div>
      </div>
      <!-- Breadcrumb row -->
      <div class="breadcrumb-row">
        <div class="container">
          <ul class="list-inline">
            <li><a href="/home">Home</a></li>
            <li>set schedule</li>
          </ul>
        </div>
      </div>
      <!-- Breadcrumb row END -->
      <!-- inner page banner END -->
      <div class="content-block">
        <!-- About Us -->
        <div class="section-area section-sp1">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-12 m-b30">
                <div class="profile-bx text-center">
                  <div class="user-profile-thumb">
                    <th:block th:if="${#ctx.session.user.avatar != null}">
                      <img th:src="${#ctx.session.user.avatar}" alt=""/>
                    </th:block>
                    <th:block th:if="${#ctx.session.user.avatar == null}">
                      <img src="/assets/images/final-avt-default.jpg" alt=""/>
                    </th:block>
                  </div>
                  <div class="profile-info">
                    <h4 th:text="${#ctx.session.user.fullName}"></h4>
                    <span th:text="${#ctx.session.user.email}"></span>
                  </div>
                  <div class="profile-social">
                    <ul class="list-inline m-a0">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                  </div>
                  <div class="profile-tabnav">
                    <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#schedule-list"><i class="ti-bookmark-alt"></i>Schedule list</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" th:href="@{/client/addSchedule}"><i class="ti-pencil-alt"></i>Add Schedule</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-9 col-md-8 col-sm-12 m-b30">
                <div class="profile-content-bx">
                  <div class="tab-content">
                    <div class="tab-pane active" id="schedule-list">
                      <div class="profile-head">
                        <h3>Schedule list</h3>
                      </div>
                      <div class="courses-filter">
                        <div class="col">
                            <div class="col-md-20 col-lg-20">
                              <table class="course-features">
                                <thead>
                                <tr>
                                  <th><i class="ti-book"></i>Title</th>
                                  <th><i class="ti-help-alt"></i>Course name</th>
                                  <th><i class="ti-time"></i>Set time</th>
                                  <th><i class="ti-stats-up"></i>Reminder after</th>
                                </tr>
                                </thead>
                                <th:block th:each="schedule : ${scheduleList}">
                                  <tr>
                                    <td><span th:text="${schedule.titleschedule}"></span></td>
                                    <td><span th:text="${schedule.getCourse().getCoursename()}"></span></td>
                                    <td><span th:text="${schedule.settime}"></span></td>
                                    <td><span th:text="${schedule.reminderafter}"></span></td>
                                  </tr>
                                </th:block>
                              </table>
                            </div>
<!--                          <div class="col-md-6 col-lg-6">-->
<!--                            <ul class="course-features">-->
<!--                              <li><i class="ti-book"></i> <span class="label">Lectures</span> <span class="value">8</span></li>-->
<!--                              <li><i class="ti-help-alt"></i> <span class="label">Quizzes</span> <span class="value">1</span></li>-->
<!--                              <li><i class="ti-time"></i> <span class="label">Duration</span> <span class="value">60 hours</span></li>-->
<!--                              <li><i class="ti-stats-up"></i> <span class="label">Skill level</span> <span class="value">Beginner</span></li>-->
<!--                              <li><i class="ti-smallcap"></i> <span class="label">Language</span> <span class="value">English</span></li>-->
<!--                              <li><i class="ti-user"></i> <span class="label">Students</span> <span class="value">32</span></li>-->
<!--                              <li><i class="ti-check-box"></i> <span class="label">Assessments</span> <span class="value">Yes</span></li>-->
<!--                            </ul>-->
<!--                          </div>-->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- contact area END -->
    </div>
    <!-- Content END-->
  </th:block>
  <th:block layout:insert="~{fragments/client/footer}"/>
</th:block>

</html>
