<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block layout:insert="~{fragments/courseowner/headTag}"/>
<body class="ttr-opened-sidebar ttr-pinned-sidebar">

<th:block layout:fragment="content">
    <th:block layout:insert="~{fragments/courseowner/header}"></th:block>
    <th:block layout:insert="~{fragments/courseowner/sidebar}"></th:block>

    <!--Main container start -->
    <main class="ttr-wrapper">
        <div class="container-fluid">
            <div class="db-breadcrumb">
                <h4 class="breadcrumb-title">Courses</h4>
                <ul class="db-breadcrumb-list">
                    <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                    <li>Courses</li>
                </ul>
            </div>

            <div class="row">
                <!-- Your Profile Views Chart -->

                <div class="col-lg-12 m-b30">
                    <div class="widget-box">
                        <div class="wc-title" style="display: flex; align-items: center;">
                            <h4>Your Courses</h4>


                                <form id="flt" th:action="@{/courseowner/mysubject}" th:method="get" style="margin-left: 50px;">
                                    <select name="flt" onchange="change()">
                                        <option value="4" th:selected="${flt == 4}">All Course</option>
                                        <option value="1" th:selected="${flt == 1}">In process Course</option>
                                        <option value="3" th:selected="${flt == 3}">Active Course</option>
                                        <option value="2" th:selected="${flt == 2}">Unactive Course</option>
                                    </select>
                                </form>
                        </div>
                        <div class="widget-inner">
                            <div class="card-courses-list admin-courses" th:each="course:${courses}">
                                <div class="card-courses-media">
                                    <img src="/assets/images/courses/pic1.jpg" alt=""/>
                                </div>
                                <div class="card-courses-full-dec">
                                    <div class="card-courses-title">
                                        <h4>
                                            <a th:href="@{/coursecontent/mycourse/{id}(id=${course.getCourseid()})}">
                                                <span th:text="${course.coursename}"></span>
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="card-courses-list-bx">
                                        <ul class="card-courses-view">
                                            <li class="card-courses-categories">
                                                <h5>Categories</h5>
                                                <h4 th:text="${course.category.categoryname}"></h4>
                                            </li>
                                            <li class="card-courses-review">
                                                <h5 th:text="${course.feedbackdetailSet.size()} + ' Review'">Review</h5>
                                                <ul class="cours-star">
                                                    <th:block th:each="i : ${#numbers.sequence(1, 5)}">
                                                        <li th:if="${course.getAverageRating() >= i}" class="active"><i
                                                                class="fa fa-star"></i></li>
                                                        <li th:if="${course.getAverageRating() < i}"><i
                                                                class="fa fa-star"></i></li>
                                                    </th:block>

                                                </ul>
                                            </li>
                                            <li class="card-courses-stats" th:if="${course.status.statusId != 3}">
                                                <a th:href="@{/editCourse(id=${course.getCourseid()})}" class="btn button-sm green radius-xl">Edit</a>
                                            </li>
                                            <!-- Earn this month -->
                                            <li class="card-courses-price">
                                                <h6 style="font-size: 12px">Earn this month</h6>
                                                <h5 class="text-primary" th:with="courseRevenue=${0}">
                                                     <span th:if="${revenueDataMonth != null}">
                                                         <span th:each="revenue : ${revenueDataMonth}" th:if="${revenue[0] == course.courseid and revenue[3] != null}">
                                                             <span th:with="courseRevenue=${revenue[3]}"></span>
                                                         </span>
                                                    </span>
                                                    <span th:text="'$' + ${#numbers.formatDecimal(courseRevenue, 0, 'COMMA', 2, 'POINT')}"></span>
                                                </h5>
                                            </li>


                                            <li class="card-courses-price">
                                                <h6 style="font-size: 12px">Earn this month</h6>
                                                <h5 class="text-primary" th:with="courseRevenue=0">
                                                     <span th:if="${revenueDataMonth != null}">
                                                         <span th:each="revenue : ${revenueDataMonth}" th:if="${revenue[0] == course.courseid and revenue[2] != null}">
                                                        <span th:with="courseRevenue=${revenue[2]}"></span>
                                                        </span>
                                                     </span>
                                                    <span th:text="${courseRevenue}"></span>
                                                </h5>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="row card-courses-dec align-items-center">
                                        <div class="col-md-6">
                                            <div class="card-courses-price">
                                                <h6 style="font-size: 15px;color: #1c7430">Price </h6>
                                                <h5 class="text-primary" th:text="${course.courseprice}"></h5>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="card-courses-view">
                                                <li class="card-courses-price">
                                                    <h6 style="font-size: 12px">Total Earn</h6>
                                                    <h5 class="text-primary" th:each="revenue : ${revenueData}">
                                                        <span th:if="${revenue[0] == course.courseid}" th:text="${revenue[3] != null} ? '$'+ ${#numbers.formatDecimal(revenue[3], 0, 'COMMA', 2, 'POINT')} : '0'"></span>
                                                    </h5>
                                                </li>
                                                <li class="card-courses-price">
                                                    <h6 style="font-size: 12px">Total Student</h6>
                                                    <h5 class="text-primary" th:each="revenue : ${revenueData}">
                                                        <span th:if="${revenue[0] == course.courseid}" th:text="${revenue[2] != null} ? ${revenue[2]} : '0'"></span>
                                                    </h5>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center pagination-sm">
                                <li  th:if="${totalPages > 0}" class="page-link"
                                     th:each="pageNumber : ${pageNumbers}">
                                    <a th:href="@{/courseowner/listSubject(page=${pageNumber})}"
                                       th:text="${pageNumber}"
                                       th:class="${pageNumber + 1== pageNum} ? active"
                                       class="page-link"
                                    ></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Your Profile Views Chart END-->
        </div>
        </div>
    </main>
    <div class="ttr-overlay"></div>
</th:block>
<th:block layout:insert="~{fragments/courseowner/scriptTag}"/>

    <script>
        function change() {
        document.getElementById("flt").submit();
        }
    </script>


</body>
</html>