<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{courseowner-layout}">
<th:block layout:fragment="content">
    <th:block layout:insert="~{fragments/courseowner/header}"/>
    <th:block layout:insert="~{fragments/courseowner/sidebar}"/>
    <th:block>
        <main class="ttr-wrapper">
            <div class="container-fluid">
                <div class="db-breadcrumb">
                    <h4 class="breadcrumb-title">Create Course Section</h4>
                    <ul class="db-breadcrumb-list">
                        <li><a href="/home"><i class="fa fa-home"></i>Home</a></li>
                        <li>Create Course</li>
                    </ul>
                </div>
                <div class="row">
                    <!-- Your Profile Views Chart -->
                    <div class="col-lg-12 m-b30">
                        <div class="widget-box">
                            <div class="wc-title"style="display: flex;align-items: center;justify-content: space-between;">
                                <h4>Create Course Section</h4>
                                <span>
                                <th:block th:if="${count!=0}">
                                    <a style=" color:green;font-weight: 600; border-radius:10px" th:target="_blank" th:href="@{/courseview/mycourse/{id}(id=${courseID})}" title="View"><i class="fa-solid fa-eye" style="color: #54aa3c;" ></i> View Course</a>
                                </th:block>
                                </span>
                            </div>
                            <a href="#" data-toggle="modal" data-target="#AddCourseSection" style="border-bottom :1px solid green; margin:10px; color:green;font-weight: 600; border-radius:10px;" title="Add more"><i class="fa-solid fa-plus"></i>Add section</a>
                            <div class="widget-inner">
                                <table style="text-align:center">
                                    <thead>
                                    <tr>
                                        <th>Section Order</th>
                                        <th>Section Title</th>
                                        <th>Date Section Created</th>
                                        <th colspan="5">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="item:${list}">
                                        <tr>
                                            <td th:text="${item.getSectionorder()}"></td>
                                            <td th:text="${item.getSectiontitle()}"></td>
                                            <td th:text="${item.getSectiondob()}"></td>
                                            <td><a href="#" data-toggle="modal" title="Edit"
                                                   th:attr="data-target=${'#editsection' + item.sectionId}"><i class="fa-solid fa-pen-to-square" style="color: #54aa3c;"></i></a>
                                            </td>
                                            <td><a href="#" data-toggle="modal" title="Delete"
                                                   th:attr="data-target=${'#deletesection' + item.sectionId}"><i class="fa-solid fa-trash-can" style="color: #54aa3c;"></i></a>
                                            </td>
                                            <td><a th:href="@{/course/createContent(id=${item.sectionId})}"   style="border-bottom :1px solid #54aa3c; color:#54aa3c;font-weight: 500; border-radius:10px;" title="Add more"><i class="fa-solid fa-plus"></i>Content</a>
                                            </td>
                                            <td><a th:href="@{/course/createQuiz(id=${item.sectionId})}"   style="border-bottom :1px solid #54aa3c;  color:#54aa3c;font-weight: 500; border-radius:10px;" title="Add more"><i class="fa-solid fa-plus"></i>Quiz</a>
                                            </td>
                                        </tr>
                                        <div class="modal fade" th:attr="id=${'deletesection' + item.sectionId}"
                                             tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Delete Course
                                                            Section</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Delete course section with title
                                                        <th:block th:text="${item.sectiontitle}"></th:block>
                                                        ?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <form th:action="@{/course/deleteCourseSection}">
                                                            <input type="hidden" name="coursesectionid"
                                                                   th:value="${item.sectionId}">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                            <button type="submit" class="btn btn-primary">Save changes
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade" th:attr="id=${'editsection' + item.sectionId}"
                                             tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Edit Coure
                                                            Section</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form th:action="@{/course/editCourseSection}" method="post">
                                                            <input type="hidden" name="id" th:value="${item.sectionId}">
                                                            <div class="form-group">
                                                                <label for="recipient-name" class="col-form-label">Course
                                                                    Section Title</label>
                                                                <input type="text" class="form-control" name="title"
                                                                       th:value="${item.sectiontitle}" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="message-text" class="col-form-label">Course
                                                                    Section Order</label>
                                                                <input id="message-text" type="number"
                                                                       class="form-control" name="order"
                                                                       th:value="${item.sectionorder}" required>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Close
                                                                </button>
                                                                <button type="submit" class="btn btn-primary">Update
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </th:block>
                                    </tbody>
                                </table>
                                <div class="modal fade" id="AddCourseSection" style="margin:20px; padding 5px;"
                                     tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header"  >
                                                <h5 class="modal-title" id="exampleModalLabel">Add Course Section</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form th:action="@{/course/addCourseSection}" method="post">
                                                    <input type="hidden" name="id" th:value="${courseID}">
                                                    <div class="form-group">
                                                        <label for="recipient-name" class="col-form-label">Course
                                                            Section Title</label>
                                                        <input type="text" class="form-control" name="title" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="message-text" class="col-form-label">Course
                                                            Section Order</label>
                                                        <input id="message-text" type="number"
                                                               class="form-control" name="order" required>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <button type="submit" class="btn btn-primary">Add
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Your Profile Views Chart END-->
                </div>
            </div>
        </main>
        <div class="ttr-overlay"></div>
    </th:block>
</th:block>
</html>
