<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{courseowner-layout}">
<th:block layout:fragment="content">
    <th:block layout:insert="~{fragments/courseowner/header}"/>
    <th:block layout:insert="~{fragments/courseowner/sidebar}"/>
    <th:block>
        <main class="ttr-wrapper">
            <div class="container-fluid">
                <div class="db-breadcrumb">
                    <h4 class="breadcrumb-title">Create Question</h4>
                    <ul class="db-breadcrumb-list">
                        <li><a href="/home"><i class="fa fa-home"></i>Home</a></li>
                        <li>Create Question</li>
                    </ul>
                </div>
                <div class="row">
                    <!-- Your Profile Views Chart -->
                    <div class="col-lg-12 m-b30">
                        <div class="widget-box">
                            <div class="wc-title" style="display: flex;align-items: center;justify-content: space-between;">
                                 <span>
                                <a style=" color:green;font-weight: 600;" th:href="@{/course/createQuiz(id=${quiz.getCoursesection().getSectionId()})}"><i class="fa-solid fa-arrow-left" style="color: #54aa3c;"></i>Back to Quiz</a>
                                </span>
                                <h4>Create Question</h4>
                                <span>
                                <th:block th:if="${count!=0}">
                                    <a style=" color:green;font-weight: 600; border-radius:10px" th:target="_blank" th:href="@{/courseview/mycourse/{id}(id=${quiz.getCoursesection().getCourse().getCourseid()})}" title="View"><i class="fa-solid fa-eye" style="color: #54aa3c;" ></i> View Course</a>
                                </th:block>
                                </span>
                            </div>
                            <a href="#" data-toggle="modal" data-target="#AddQuestion" style="border-bottom :1px solid green; margin:10px; color:green;font-weight: 600; border-radius:10px;" title="Add quiz"><i class="fa-solid fa-plus"></i>Add Question</a>
                            <div class="widget-inner">
                                <table style="text-align:center">
                                    <thead>
                                    <tr>
                                        <td>No</td>
                                        <td>Question</td>
                                        <td colspan="3">Action</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="item, iterStat:${list} ">
                                        <tr>
                                            <td th:text="${iterStat.index + 1}"></td>
                                            <td th:text="${item.getQuestioncontent()}"></td>
                                            <td><a href="#" data-toggle="modal" title="Edit"
                                                   th:attr="data-target=${'#editquestion' + item.getQuestionid()}"><i class="fa-solid fa-pen-to-square" style="color: #54aa3c;"></i></a>
                                            </td>
                                            <td><a href="#" data-toggle="modal" title="Delete"
                                                   th:attr="data-target=${'#deleteQuestion' + item.getQuestionid()}"><i class="fa-solid fa-trash-can" style="color: #54aa3c;"></i></a>
                                            </td>
                                            <td><a th:href="@{/course/createAnswer(id=${item.getQuestionid()})}"   style="border-bottom :1px solid #54aa3c; color:#54aa3c;font-weight: 500; border-radius:10px;" title="Add more"><i class="fa-solid fa-plus"></i>Answer</a>
                                            </td>
                                        </tr>
                                        <div class="modal fade" th:attr="id=${'deleteQuestion' + item.getQuestionid()}"
                                             tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Delete Quiz</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Delete quiz with title
                                                        "<th:block th:text="${item.getQuestioncontent()}"></th:block>"
                                                        ?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <form th:action="@{/course/deleteQuestion}">
                                                            <input type="hidden" name="coursequestionid"
                                                                   th:value="${item.getQuestionid()}">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                            <button type="submit" class="btn btn-primary">Save changes
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade" th:attr="id=${'editquestion' + item.getQuestionid()}"
                                             tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Edit
                                                            Course</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form th:action="@{/course/editQuestion}" method="post" enctype="multipart/form-data">
                                                            <input type="hidden" name="idQuiz" th:value="${item.getQuestionid()}">
                                                            <div class="form-group">
                                                                <label class="col-form-label">
                                                                    Question Title</label>
                                                                <input type="text" class="form-control" name="title" th:value="${item.getQuestioncontent()}" required>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Close
                                                                </button>
                                                                <button type="submit" class="btn btn-primary">Add
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </th:block>
                                    </tbody>
                                </table>
                                <!-- Add quiz -->
                                <div class="modal fade" id="AddQuestion"
                                     tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" >Add Question</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form th:action="@{/course/addQuestion}" method="post" enctype="multipart/form-data">
                                                    <input type="hidden" name="idQuiz" th:value="${quiz.getQuizid()}">
                                                    <div class="form-group">
                                                        <label class="col-form-label">
                                                            Question Title</label>
                                                        <input type="text" class="form-control" name="title" required>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <button type="submit" class="btn btn-primary">Add
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <!-- Your Profile Views Chart END-->
                </div>
            </div>
        </main>
        <div class="ttr-overlay"></div>
    </th:block>
</th:block>
</html>
