<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{courseowner-layout}">
<th:block layout:fragment="content">
    <th:block layout:insert="~{fragments/courseowner/header}" />
    <th:block layout:insert="~{fragments/courseowner/sidebar}" />
    <th:block>
        <main class="ttr-wrapper">
            <div class="container-fluid">
                <div class="db-breadcrumb">
                    <h4 class="breadcrumb-title">Create Section</h4>
                    <ul class="db-breadcrumb-list">
                        <li><a href="/home"><i class="fa fa-home"></i>Home</a></li>
                        <li>Create Course</li>
                    </ul>
                </div>
                <div class="row">
                    <!-- Your Profile Views Chart -->
                    <div class="col-lg-12 m-b30">
                        <div class="widget-box">
                            <div class="wc-title"
                                style="display: flex;align-items: center;justify-content: space-between;">
                                <span>
                                    <a style=" color:green;font-weight: 600;"
                                        th:href="@{/course/createCourseSection(id=${coursesection.getCourse().getCourseid()})}"><i
                                            class="fa-solid fa-arrow-left" style="color: #54aa3c;"></i>Back to create
                                        Section</a>
                                </span>
                                <h4>Create Content</h4>
                                <span>
                                    <th:block th:if="${count!=0}">
                                        <a style=" color:green;font-weight: 600; border-radius:10px" th:target="_blank"
                                            th:href="@{/courseview/mycourse/{id}(id=${coursesection.getCourse().getCourseid()})}"
                                            title="View"><i class="fa-solid fa-eye" style="color: #54aa3c;"></i> View
                                            Course</a>
                                    </th:block>
                                </span>
                            </div>
                            <a href="#" data-toggle="modal" data-target="#AddCourseContent"
                                style="border-bottom :1px solid green; margin:10px; color:green;font-weight: 600; border-radius:10px; display: inline-block"
                                title="Add content"><i class="fa-solid fa-plus"></i>Add content</a>
                            <div class="widget-inner">
                                <table style="text-align:center">
                                    <thead>
                                        <tr>
                                            <td>Title</td>
                                            <td>Order</td>
                                            <td colspan="2">Action</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <th:block th:each="item:${list}">
                                            <tr>
                                                <td th:text="${item.contenttitle}"></td>
                                                <td th:text="${item.contentorder}"></td>
                                                <td><a href="#" data-toggle="modal" title="Edit"
                                                        th:attr="data-target=${'#editsection' + item.contentId}"><i
                                                            class="fa-solid fa-pen-to-square"
                                                            style="color: #54aa3c;"></i></a>
                                                </td>
                                                <td><a href="#" data-toggle="modal" title="Delete"
                                                        th:attr="data-target=${'#deletesection' + item.contentId}"><i
                                                            class="fa-solid fa-trash-can"
                                                            style="color: #54aa3c;"></i></a>
                                                </td>
                                            </tr>
                                            <div class="modal fade" th:attr="id=${'deletesection' + item.contentId}"
                                                tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                                aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Delete Course
                                                                Content</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Delete course content with title
                                                            <th:block th:text="${item.contenttitle}"></th:block>
                                                            ?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <form th:action="@{/course/deleteCourseContent}">
                                                                <input type="hidden" name="contentID"
                                                                    th:value="${item.contentId}">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close
                                                                </button>
                                                                <button type="submit" class="btn btn-primary">Save
                                                                    changes
                                                                </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal fade" th:attr="id=${'editsection' + item.contentId}"
                                                tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                                aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Edit
                                                                Course Content</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form th:action="@{/editContent}" method="post"
                                                                enctype="multipart/form-data">
                                                                <input type="hidden" name="id"
                                                                    th:value="${item.contentId}">
                                                                <div class="form-group">
                                                                    <label for="recipient-name"
                                                                        class="col-form-label">Course
                                                                        Content Title</label>
                                                                    <input type="text" id="recipient-name"
                                                                        class="form-control" name="title"
                                                                        th:value="${item.contenttitle}" required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="message-text"
                                                                        class="col-form-label">Course
                                                                        Content Order</label>
                                                                    <input id="message-text" type="number"
                                                                        class="form-control" name="order"
                                                                        th:value="${item.contentorder}" required>
                                                                </div>
                                                                <label for="message-text"
                                                                        class="col-form-label">Public</label>
                                                                    <input value="1"  type="checkbox"
                                                                         name="free"
                                                                        th:checked="${item.ispublic}">
                                                                <div class="form-group">
                                                                    <label for="date-text" class="col-form-label">Course
                                                                        Content Video</label>
                                                                    <video id="video" width="320" height="240" controls>
                                                                        <source th:src="@{${item.linkvideo}}"
                                                                            type="video/mp4">
                                                                    </video>
                                                                    <input id="date-text" type="file"
                                                                        class="form-control" name="file"
                                                                        onchange="preview()">
                                                                </div>
                                                                <script type="text/javascript">
                                                                    function preview() {
                                                                        const selectedFile = event.target.files[0];
                                                                        if (selectedFile) {
                                                                            selectedFile.preview = URL.createObjectURL(selectedFile); // Tạo đường dẫn tạm thời cho ảnh
                                                                            console.log(selectedFile);
                                                                            $('#video').attr('src', selectedFile.preview);
                                                                            $('#video')[0].load();
                                                                            $('#video')[0].play();
                                                                        } else {
                                                                            // Nếu không có file được chọn, set giá trị của #video về null hoặc giá trị mặc định
                                                                            $('#video').attr('src', null); // hoặc $('#video').attr('src', 'đường_dẫn_mặc_định');
                                                                        }
                                                                    }

                                                                </script>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Close
                                                                    </button>
                                                                    <button type="submit" class="btn btn-primary">Update
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </th:block>
                                    </tbody>
                                </table>
                                <div class="modal fade" id="AddCourseContent" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Add Course Content</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form th:action="@{/course/addCourseContent}" method="post"
                                                    enctype="multipart/form-data">
                                                    <input type="hidden" name="id"
                                                        th:value="${coursesection.getSectionId()}">
                                                    <div class="form-group">
                                                        <label class="col-form-label">
                                                            Title</label>
                                                        <input type="text" class="form-control" name="title" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-form-label">
                                                            Order</label>
                                                        <input id="message-text" type="number" class="form-control"
                                                            name="order" required>
                                                    </div>
                                                    <label for="message-text"
                                                                        class="col-form-label">Public</label>
                                                                    <input value="1" type="checkbox"
                                                                         name="free"
                                                                         >
                                                    <div class="form-group">
                                                        <label class="col-form-label">
                                                            Video</label>
                                                        <br>
                                                        <video id="addVideo" width="320" height="240" controls>
                                                            <source type="video/mp4">
                                                        </video>
                                                        <input id="date-text" type="file" class="form-control"
                                                            name="file" onchange="Addpreview()">
                                                    </div>
                                                    <script type="text/javascript">
                                                        function Addpreview() {
                                                            const selectedFile = event.target.files[0];
                                                            if (selectedFile) {
                                                                selectedFile.preview = URL.createObjectURL(selectedFile); // Tạo đường dẫn tạm thời cho ảnh
                                                                $('#addVideo').attr('src', selectedFile.preview);
                                                                $('#addVideo')[0].load();
                                                                $('#addVideo')[0].play();
                                                            }else {
                                                                // Nếu không có file được chọn, set giá trị của #video về null hoặc giá trị mặc định
                                                                $('#video').attr('src', null); // hoặc $('#video').attr('src', 'đường_dẫn_mặc_định');
                                                            }
                                                        }
                                                    </script>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close
                                                        </button>
                                                        <button type="submit" class="btn btn-primary">Add
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Your Profile Views Chart END-->
                </div>
            </div>
        </main>
        <div class="ttr-overlay"></div>
    </th:block>
</th:block>

</html>