<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{courseowner-layout}">
<link rel="stylesheet" href="/admin/css/charty.css">

<th:block layout:fragment="content">
    <th:block layout:insert="~{fragments/courseowner/header}"></th:block>
    <th:block layout:insert="~{fragments/courseowner/sidebar}"></th:block>

    <!--Main container start -->

    <main class="ttr-wrapper">
        <div class="container-fluid">
            <div class="db-breadcrumb">
                <h4 class="breadcrumb-title">Dashboard</h4>
                <ul class="db-breadcrumb-list">
                    <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                    <li>Dashboard</li>
                </ul>
            </div>

            <div id="linechart" class="chart">

            </div>

            <!-- Card END -->
        </div>

        <div class="col-lg-12 m-b30 mx-auto text-center">

            <h4>Benefit</h4>
            <div class="col-md-12 text-center text-white">
                <form class="search-btn" th:action="@{/courseowner/revenue-report}" method="get">
                    <div class="input-group text-center">

                        <select class="form-text" name="month">
                            <option value="0">All Month</option>
                            <option value="1">Tháng 1</option>
                            <option value="2">Tháng 2</option>
                            <option value="3">Tháng 3</option>
                            <option value="4">Tháng 4</option>
                            <option value="5">Tháng 5</option>
                            <option value="6">Tháng 6</option>
                            <option value="7">Tháng 7</option>
                            <option value="8">Tháng 8</option>
                            <option value="9">Tháng 9</option>
                            <option value="10">Tháng 10</option>
                            <option value="11">Tháng 11</option>
                            <option value="12">Tháng 12</option>
                        </select> <!--                                                                        regex này cho phép lấy nhưng ngày từ 2020                                                                                         tức là sẽ khớp với đoạn này [2-9]\d|2020                                              -->
                        <input type="text" class="form-text" name="year" id="year" placeholder="Năm"
                               pattern="^(20[2-9]\d|2020)$"
                               title="Vui lòng nhập một năm hợp lệ (4 chữ số) và lớn 2020">
                        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                    </div>
                </form>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Enroll Time</th>
                    <th>Course Name</th>
                    <th>Check Out</th>
                    <th>Income</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="list : ${results}">
                    <td th:text="${list[0]}"></td>
                    <td th:text="${list[1]}"></td>
                    <td th:text="${list[2]}"></td>
                    <td th:text="'$' + ${#numbers.formatDecimal(list[3], 0, 'COMMA', 2, 'POINT')}"></td>
                    <td th:text="'$' + ${#numbers.formatDecimal(list[4], 0, 'COMMA', 2, 'POINT')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-12 m-b20">
            <div id="pagination" class="text-center">
                <ul class="pagination">
                    <li th:if="${currentPage > 1}">
                        <a th:href="@{'/courseowner/course-checkout/' + ${courseid} + '?page=' + ${currentPage - 1} }">Previous</a>
                    </li>
                    <li th:each="pageNumber : ${#numbers.sequence(1, pageNum)}">
                        <a th:href="@{'/courseowner/course-checkout/' + ${courseid} +'&month='+${month}+'&year='+${year} + '?page=' + ${pageNumber} }"
                           th:text="${pageNumber}"
                           th:classappend="${pageNumber == currentPage} ? 'active' : ''"></a>
                    </li>
                    <li th:if="${currentPage < pageNum}">
                        <a th:href="@{'/courseowner/course-checkout/' + ${courseid} +'&month='+${month}+'&year='+${year} + '?page=' + ${currentPage + 1} }">Next</a>
                    </li>
                </ul>
            </div>
        </div>

        </div>
        </div>
        </div>
    </main>
    <!--Main container end -->
</th:block>
<th:block layout:insert="~{fragments/courseowner/footer}"></th:block>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var numPages = [[${ pageNum }]];
        var currentPage = 1; // Trang hiện tại

        // Cập nhật trang hiện tại khi người dùng nhấn nút
        function changePage(pageNumber) {
            if (pageNumber === currentPage) {
                return; // Đã ở trang đang chọn, không cần cập nhật lại
            }

            // Cập nhật URL trang bằng cách thay đổi tham số "?page="
            var newUrl = "/courseowner/revenue-report?page=" + pageNumber;
            window.location.href = newUrl;
        }
    });
</script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/chart/lib/chart/chart.min.js"></script>
<script src="/chart/lib/easing/easing.min.js"></script>
<script src="/chart/lib/waypoints/waypoints.min.js"></script>
<script src="/chart/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/chart/lib/tempusdominus/js/moment.min.js"></script>
<script src="/chart/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="/chart/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script>





            // Sử dụng dữ liệu để khởi tạo biểu đồ Highcharts
            Highcharts.chart('linechart', {
                chart: {
                    type: 'line',
                },
                title: {
                    text: 'Line chart'
                },
                xAxis: {
                    categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
                    ,
                },
                series: [{
                    data: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120],

                }]
            });



</script>