<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block layout:insert="~{fragments/courseowner/headTag}"/>
<body class="ttr-opened-sidebar ttr-pinned-sidebar">

<th:block layout:fragment="content">
    <th:block layout:insert="~{fragments/courseowner/header}"></th:block>
    <th:block layout:insert="~{fragments/courseowner/sidebar}"></th:block>

    <style>

        @keyframes bake-pie {
            from {
                transform: rotate(0deg) translate3d(0, 0, 0);
            }
        }

        .pie-chart {
            font-family: "Open Sans", Arial;
        }

        .pie-chart--wrapper {
            width: 400px;
            margin: 30px auto;
            text-align: center;
        }

        .pie-chart__pie, .pie-chart__legend {
            display: inline-block;
            vertical-align: top;
        }

        .pie-chart__pie {
            position: relative;
            height: 200px;
            width: 200px;
            margin: 10px auto 35px;
        }

        .pie-chart__pie::before {
            content: "";
            display: block;
            position: absolute;
            z-index: 1;
            width: 100px;
            height: 100px;
            background: #EEE;
            border-radius: 50%;
            top: 50px;
            left: 50px;
        }

        .pie-chart__pie::after {
            content: "";
            display: block;
            width: 120px;
            height: 2px;
            background: rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.1);
            margin: 220px auto;
        }

        .slice {
            position: absolute;
            width: 200px;
            height: 200px;
            clip: rect(0px, 200px, 200px, 100px);
            animation: bake-pie 1s;
        }

        .slice span {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background-color: black;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            clip: rect(0px, 200px, 200px, 100px);
        }

        .pie-chart__legend {
            display: block;
            list-style-type: none;
            padding: 0;
            margin: 0 auto;
            background: #FFF;
            padding: 0.75em 0.75em 0.05em;
            font-size: 13px;
            box-shadow: 1px 1px 0 #DDD, 2px 2px 0 #BBB;
            text-align: left;
            width: 65%;
        }

        .pie-chart__legend li {
            height: 1.25em;
            margin-bottom: 0.7em;
            padding-left: 0.5em;
            border-left: 1.25em solid black;
        }

        .pie-chart__legend em {
            font-style: normal;
        }

        .pie-chart__legend span {
            float: right;
        }

        .pie-charts {
            display: flex;
            flex-direction: row;
        }

        @media (max-width: 500px) {
            .pie-charts {
                flex-direction: column;
            }
        }
    </style>
    <!--Main container start -->
    <main class="ttr-wrapper">
        <div class="container-fluid">
            <div class="db-breadcrumb">
                <h4 class="breadcrumb-title">Dashboard</h4>
                <ul class="db-breadcrumb-list">
                    <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                    <li>Dashboard</li>
                </ul>
            </div>
            <!-- Card -->


        </div>
        <!-- Card END -->
        <div class="row">
            <!-- Your Profile Views Chart -->
            <div class="col-lg-12 m-b30">
                <div class="widget-box">
                    <div class="wc-title d-flex justify-content-between align-items-center">
                        <div class="wrapper">
                            <h1 style="text-align: center">Lifetime earning </h1>
                            <h3 style="text-align: center">Total revenue: $<span class="counter" th:text="${totalRevenueMonth[0][0]}"></span></h3>
                            <div class="pie-charts">
                                <div class="pieID--operations pie-chart--wrapper">
                                    <h2>Revenue by course</h2>
                                    <div class="pie-chart">
                                        <div class="pie-chart__pie"></div>
                                    </div>
                                    <!-- Thêm thuộc tính data-color vào mỗi li trong ul -->
                                    <ul class="pie-chart__legend">
                                        <li th:each="list : ${CourseName}">
                                            <em th:text="${list[1]}"></em>
                                            <span th:text="${list[3]}"></span>
                                        </li>
                                    </ul>

                                </div>

                                <div class="pieID--categories pie-chart--wrapper">
                                    <h2>Enrollment</h2>
                                    <div class="pie-chart">
                                        <div class="pie-chart__pie"></div>
                                    </div>
                                    <ul class="pie-chart__legend">
                                        <li th:each="list : ${CourseName}">
                                            <em th:text="${list[1]}"></em>
                                            <span th:text="${list[2]}"></span>
                                        </li>
                                    </ul>

                                </div>
                                <div class="pieID--micro-skills pie-chart--wrapper">
                                    <h2>Categories</h2>
                                    <div class="pie-chart">
                                        <div class="pie-chart__pie"></div>
                                    </div>

                                    <ul class="pie-chart__legend">
                                        <li th:each="list : ${anotherPie}">
                                            <em th:text="${list[0]}"></em>
                                            <span th:text="${list[1]}"></span>
                                        </li>
                                    </ul>

                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- Thay thế phần hiển thị biểu đồ -->
                    <!--                        <div class="widget-inner">-->
                    <!--                            <canvas id="pieChart" width="100" height="45"></canvas>-->
                    <!--                        </div>-->

                </div>
            </div>
        </div>
        <div class="col-md-12 ">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Enroll Time</th>
                    <th>Course Name</th>
                    <th>Check Out</th>
                    <th>Income</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="list : ${results}">
                    <td th:text="${list[0]}"></td>
                    <td th:text="${list[1]}"></td>
                    <td th:text="${list[2]}"></td>
                    <td th:text="'$' + ${#numbers.formatDecimal(list[3], 0, 'COMMA', 2, 'POINT')}"></td>
                    <td th:text="'$' + ${#numbers.formatDecimal(list[4], 0, 'COMMA', 2, 'POINT')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>
        </div>

    </main>
</th:block>
<th:block layout:insert="~{fragments/courseowner/scriptTag}"/>
<script>
    $(document).ready(function () {
        $('.btn-danger').click(function () {
            var userId = $(this).data('userid');
            var isEnabled = $(this).data('isenabled');

            // Gửi yêu cầu Ajax đến máy chủ
            $.ajax({
                type: 'POST', // hoặc 'GET' tùy thuộc vào cách bạn cấu hình máy chủ
                url: '/admin/activate',
                data: {userId: userId, isEnabled: isEnabled},
                success: function (response) {
                    // Xử lý kết quả trả về nếu cần
                    console.log('Yêu cầu đã được thực hiện thành công.');
                },
                error: function () {
                    console.log('Đã có lỗi xảy ra.');
                }
            });
        });
    });
</script>


<script th:inline="javascript">
    /* Truyền giá trị countUser từ controller vào biến JavaScript */
    var countUser = [[${countUser}]];
    var countCourse = [[${countCourse}]]
</script>
<script>
    function change() {
        document.getElementById("frm").submit();
    }
</script>
<script>
    var countx = countCourse.map(x => x[1]);
    var county = countCourse.map(x => x[3]);
    console.log(county);
    $(document).ready(function () {
        // Dữ liệu cho biểu đồ hình bánh
        var pieChartData = {
            labels: countx,
            datasets: [{
                data: county,
                backgroundColor: ['red', 'green', 'blue'], // Màu sắc cho các phần của biểu đồ
            }],
        };

        var pieChartOptions = {
            responsive: true,
        };

        // Lấy thẻ canvas và vẽ biểu đồ hình bánh
        var pieChart = new Chart(document.getElementById('pieChart').getContext('2d'), {
            type: 'pie',
            data: pieChartData,
            options: pieChartOptions
        });
    });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
    var colors = /*[[${colors}]]*/['cornflowerblue', 'olivedrab', 'orange', 'tomato', 'crimson', 'purple', 'turquoise', 'forestgreen', 'navy'];
</script>
<script>
    // Hàm tính kích thước của mỗi phần trong biểu đồ dựa trên tỷ lệ của dữ liệu so với tổng dữ liệu
    function sliceSize(dataNum, dataTotal) {
        return (dataNum / dataTotal) * 360;
    }

    // Hàm thêm một phần (slice) vào biểu đồ
    function addSlice(id, sliceSize, pieElement, offset, sliceID, color) {
        $(pieElement).append("<div class='slice " + sliceID + "'><span></span></div>");
        var offset = offset - 1;
        var sizeRotation = -179 + sliceSize;

        // Thiết lập vị trí và góc quay cho phần
        $(id + " ." + sliceID).css({
            "transform": "rotate(" + offset + "deg) translate3d(0,0,0)"
        });

        // Thiết lập góc quay và màu sắc cho phần con bên trong
        $(id + " ." + sliceID + " span").css({
            "transform": "rotate(" + sizeRotation + "deg) translate3d(0,0,0)",
            "background-color": color
        });
    }

    // Hàm đệ quy để duyệt qua từng phần của biểu đồ và thêm chúng vào
    function iterateSlices(id, sliceSize, pieElement, offset, dataCount, sliceCount, color) {
        var
            maxSize = 179, // Kích thước tối đa mà một phần có thể chiếm
            sliceID = "s" + dataCount + "-" + sliceCount;

        if (sliceSize <= maxSize) {
            addSlice(id, sliceSize, pieElement, offset, sliceID, color);
        } else {
            addSlice(id, maxSize, pieElement, offset, sliceID, color);
            iterateSlices(id, sliceSize - maxSize, pieElement, offset + maxSize, dataCount, sliceCount + 1, color);
        }
    }

    // Hàm tạo biểu đồ
    function createPie(id) {
        var listData = [];
        var listTotal = 0;
        var offset = 0;
        var i = 0;
        var pieElement = id + " .pie-chart__pie";
        var dataElement = id + " .pie-chart__legend";

        // Mảng màu sắc ban đầu
        var color = [
            "cornflowerblue",
            "olivedrab",
            "orange",
            "tomato",
            "crimson",
            "purple",
            "turquoise",
            "forestgreen",
            "navy"
        ];

        // Đảo ngẫu nhiên mảng màu
        color = shuffle(color);

        // Lấy giá trị từ phần tử chứa dữ liệu và thêm vào mảng listData
        $(dataElement + " li").each(function (index) {
            listData.push({
                value: Number($(this).find("span").html()),
                color: color[index]
            });
        });

        // Tính tổng dữ liệu
        for (i = 0; i < listData.length; i++) {
            listTotal += listData[i].value;
        }

        // Duyệt qua từng phần và tạo biểu đồ
        for (i = 0; i < listData.length; i++) {
            var size = sliceSize(listData[i].value, listTotal);
            iterateSlices(id, size, pieElement, offset, i, 0, listData[i].color);
            $(dataElement + " li:nth-child(" + (i + 1) + ")").css("border-color", listData[i].color);
            offset += size;
        }
    }


    // Hàm đảo ngẫu nhiên mảng
    function shuffle(a) {
        var j, x, i;
        for (i = a.length; i; i--) {
            j = Math.floor(Math.random() * i);
            x = a[i - 1];
            a[i - 1] = a[j];
            a[j] = x;
        }
        return a;
    }

    // Hàm tạo biểu đồ cho từng phần
    function createPieCharts() {
        createPie('.pieID--micro-skills');
        createPie('.pieID--categories');
        createPie('.pieID--operations');
    }

    // Gọi hàm tạo biểu đồ
    createPieCharts();



</script>

</body>
</html>
