<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block layout:insert="~{fragments/courseowner/headTag}"/>
<body class="ttr-opened-sidebar ttr-pinned-sidebar">

<th:block layout:fragment="content">
    <th:block layout:insert="~{fragments/courseowner/header}"></th:block>
    <th:block layout:insert="~{fragments/courseowner/sidebar}"></th:block>
    <style>
        .widget-inner {
            width: 100%;
            height: 100%;
            padding: 0; /* Đảm bảo không có padding */
            margin: 0; /* Đảm bảo không có margin */
        }
    </style>
    <!--Main container start -->
    <main class="ttr-wrapper">
        <div class="container-fluid">
            <div class="db-breadcrumb">
                <h4 class="breadcrumb-title">Dashboard</h4>
                <ul class="db-breadcrumb-list">
                    <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                    <li>Dashboard</li>
                </ul>
            </div>
            <!-- Card -->
            <div class="row">
                <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
                    <div class="widget-card widget-bg1">
                        <div class="wc-item">
                            <h4 class="wc-title">
                                Total Revenue
                            </h4>
                            <span class="wc-des">
								All Customs Value
							</span>
                            <span class="wc-stats">
								$<span class="counter" th:text="${revenue}"></span>
							</span>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
                    <div class="widget-card widget-bg4">
                        <div class="wc-item">
                            <h4 class="wc-title">
                                Rating star
                            </h4>
                            <span class="wc-des" th:text="${courseowner.getTotalRating()} + ' Review'">

							</span>
                            <span class="wc-stats counter">
								<span class="counter" th:text="${courseowner.getAverageRating()}"><i class="fa fa-star"></i></span>
                                
							</span>

                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
                    <div class="widget-card widget-bg3">
                        <div class="wc-item">
                            <h4 class="wc-title">
                                Total Enrolment
                            </h4>
                            <span class="wc-des">
								All student
							</span>
                            <span class="wc-stats counter" th:text="${totalstudents}">

							</span>

                        </div>
                    </div>
                </div>
                
            </div>
            <!-- Card END -->
            <div class="row">
                <!-- Your Profile Views Chart -->
                <div class="col-lg-12 m-b30">
                    <div class="widget-box">
                        <div class="wc-title d-flex justify-content-between align-items-center">
                            <h4>Your Lifetime Earning</h4>
                            <form id="frm" th:method="get" th:action="@{/courseowner/home}">
                                <div class="">
                                    <select class="" name="timeInterval" onchange="change()">
                                        <option value="all" th:selected="${selectedtime=='all'}">All time</option>
                                        <option value="3d" th:selected="${selectedtime=='3d'}">3 days</option>
                                        <option value="1w" th:selected="${selectedtime=='1w'}">1 week</option>
                                        <option value="6m" th:selected="${selectedtime=='6m'}">6 months</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="widget-inner">
                            <canvas id="chart" width="100" height="45"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 ">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Time</th>
                        <th>Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="list : ${countUser}" th:if="${list[1] != 0}">
                        <td th:text="${list[0]}" ></td>
                        <td th:text="${#numbers.formatDecimal(list[1], 0, 'COMMA', 2, 'POINT')}"></td>
                        <td>
                            <a th:with="timeParam=${list[0]}" th:href="@{'/courseowner/time/' + ${timeParam}}">show</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>

    </main>
</th:block>
<th:block layout:insert="~{fragments/courseowner/scriptTag}"/>
<script>
    $(document).ready(function () {
        $('.btn-danger').click(function () {
            var userId = $(this).data('userid');
            var isEnabled = $(this).data('isenabled');

            // Gửi yêu cầu Ajax đến máy chủ
            $.ajax({
                type: 'POST', // hoặc 'GET' tùy thuộc vào cách bạn cấu hình máy chủ
                url: '/admin/activate',
                data: {userId: userId, isEnabled: isEnabled},
                success: function (response) {
                    // Xử lý kết quả trả về nếu cần
                    console.log('Yêu cầu đã được thực hiện thành công.');
                },
                error: function () {
                    console.log('Đã có lỗi xảy ra.');
                }
            });
        });
    });
</script>
<script th:inline="javascript">
    /* Truyền giá trị countUser từ controller vào biến JavaScript */
    var countUser = [[${countUser}]];
</script>
<script>
    function change() {
        document.getElementById("frm").submit();
    }
</script>


</body>
</html>
